<p-dialog [(visible)]="editOrdreKoscDialog" [draggable]="false"
          [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="Ordre kosc" styleClass="p-fluid">


    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Ordre kosc">
                <div class="p-grid">
                    <div class="p-field p-col-11 p-md-2">
                        <label for="144">Etat demande kosc</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.etatDemandeKoscVo" [filter]="true"
                                    [options]="etatDemandeKoscs" [showClear]="true" filterMatchMode="contains"
                                    id="144" (click)="changeEtatKoscOrdre()"
                                    optionLabel="libelle"
                                    placeholder="Etat demande kosc">
                        </p-dropdown>

                    </div>
                    <div *ngIf="showCodeDecharge" class="p-field p-col-12 p-md-3">
                        <label for="3">Code decharge</label>
                        <input [(ngModel)]="selectedOrdreKosc.codeDecharge" class="p-mb-2 p-mr-2" id="3"
                               pInputText
                               placeholder="Code decharge" type="text"
                        />

                    </div>
                    <div  *ngIf="showCauseKo" class="p-field p-col-11 p-md-2">
                        <label for="201">Cause ko ok</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.causeKoOkVo" [filter]="true"
                                    [options]="causeKoOks" [showClear]="true" filterMatchMode="contains"
                                    id="201"
                                    optionLabel="libelle"
                                    placeholder="Cause ko ok">
                        </p-dropdown>



                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="1">Reference</label>
                        <input [(ngModel)]="selectedOrdreKosc.reference" class="p-mb-2 p-mr-2" id="1"
                               pInputText
                               placeholder="Reference" type="text"
                        />

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="2">Reference work order<span style="color: red;">*</span></label>
                        <input [(ngModel)]="selectedOrdreKosc.referenceWorkOrder"
                               [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscReferenceWorkOrder}"
                               class="p-mb-2 p-mr-2"
                               id="2"
                               pInputText placeholder="Reference work order"
                               type="text"/>
                        <small *ngIf='!validOrdreKoscReferenceWorkOrder' class='p-error'>ReferenceWorkOrder est
                            obligatoire.</small>
                    </div>




                    <div class="p-field p-col-11 p-md-2">
                        <label for="22">Operator</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.operatorVo" [filter]="true"
                                    [options]="operators" [showClear]="true" filterMatchMode="contains"
                                    id="22"
                                    optionLabel="libelle"
                                    placeholder="Operator">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateOperator('operator')"
                                class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="39">Type pbo</label>
                        <input [(ngModel)]="selectedOrdreKosc.typePbo" class="p-mb-2 p-mr-2" id="39"
                               pInputText
                               placeholder="Type pbo" type="text"
                        />

                    </div>


                    <div class="p-field p-col-11 p-md-2">
                        <label for="98">Departement</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [filter]="true"
                                    [options]="departements" [showClear]="true" filterMatchMode="contains"
                                    id="98"
                                    optionLabel="libelle"
                                    placeholder="Departement">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateDepartement('departement')"
                                class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>

                    <div class="p-field p-col-11 p-md-2">
                        <label for="99">Technicien</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.technicienVo" [filter]="true"
                                    [options]="techniciens" [showClear]="true" filterMatchMode="contains"
                                    id="99"
                                    optionLabel="identifiant"
                                    placeholder="Technicien">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTechnicien('technicien')"
                                class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="100">Date envoi cri</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateEnvoiCri" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="100"
                                    placeholder="Date envoi cri">
                        </p-calendar>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="101">Pbo reel</label>
                        <input [(ngModel)]="selectedOrdreKosc.pboReel" class="p-mb-2 p-mr-2" id="101"
                               pInputText
                               placeholder="Pbo reel" type="text"
                        />

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="102">Numero serie ont</label>
                        <input [(ngModel)]="selectedOrdreKosc.numeroSerieOnt" class="p-mb-2 p-mr-2" id="102"
                               pInputText
                               placeholder="Numero serie ont" type="text"
                        />

                    </div>

                </div>
            </p-tabPanel>
            <p-tabPanel header="Mail Cri">
                <p-blockUI [blocked]="blocked"></p-blockUI>
                <div class="p-grid">
                    <div class="p-field p-col-12 p-md-4">
                        <label for="30">Date cri</label>
                        <p-calendar dateFormat="{{dateFormat}}" [(ngModel)]="selectedOrdreKosc.dateCri"
                                    [showSeconds]="false" [showTime]="true"
                                    id="30"
                                    placeholder="Date cri">
                        </p-calendar>


                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="160">From</label>
                        <input [(ngModel)]="selectedOrdreKosc.fromCri"
                               [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscFromCri}" class="p-mb-2 p-mr-2"
                               id="160"
                               pInputText placeholder="From"
                               type="text"/>
                        <small *ngIf='!validOrdreKoscFromCri' class='p-error'>From est obligatoire.</small>
                    </div>


                    <div class="p-field p-col-12 p-md-4">
                        <label for="161">To</label>
                        <input [(ngModel)]="selectedOrdreKosc.toCri"
                               [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscToCri}" class="p-mb-2 p-mr-2"
                               id="161"
                               pInputText placeholder="To"
                               type="text"/>
                        <small *ngIf='!validOrdreKoscToCri' class='p-error'>To est obligatoire.</small>
                    </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="158">Objet</label>
                    <input [(ngModel)]="selectedOrdreKosc.objetCri"
                           [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscObjetCri}" class="p-mb-2 p-mr-2"
                           id="158"
                           pInputText placeholder="Objet cri"
                           type="text"/>
                    <small *ngIf='!validOrdreKoscObjetCri' class='p-error'>Objet est obligatoire.</small>
                </div>


                <div class="p-field p-col-12 p-md-8">
                    <label for="159">Corps</label>
                    <textarea [(ngModel)]="selectedOrdreKosc.corpsCri"
                              [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscCorpsCri}" cols="30" id="159"
                              pInputTextarea placeholder="Corps cri"
                              rows="10"></textarea>
                    <small *ngIf='!validOrdreKoscCorpsCri' class='p-error'>Corps est obligatoire.</small>
                </div>






                    <div class="p-field p-col-12 p-md-4">
                        <button (click)="sendMailCri()" class="p-button-help"
                                icon="pi pi-send" label="Envoyer" pButton
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <p-progressSpinner *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}"
                                           styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                           animationDuration=".5s"></p-progressSpinner>


                    </div>

                </div>
            </p-tabPanel>
            <p-tabPanel header="End custumor">
                <div class="p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="6">Nom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorName" class="p-mb-2 p-mr-2" id="6"
                               pInputText
                               placeholder="nom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="7">Série</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorSiret" class="p-mb-2 p-mr-2" id="7"
                               pInputText
                               placeholder="Série" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="8">Prenom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorFirstName" class="p-mb-2 p-mr-2" id="8"
                               pInputText
                               placeholder="Prenom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="9">Nom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorLastName" class="p-mb-2 p-mr-2" id="9"
                               pInputText
                               placeholder="Nom" type="text"
                        />

                    </div>

                    <div class="p-field p-col-11 p-md-3">
                        <label for="10">Departement</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [filter]="true"
                                    [options]="departements" [showClear]="true" filterMatchMode="contains"
                                    id="10"
                                    optionLabel="libelle"
                                    placeholder="Departement">
                        </p-dropdown>

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="53">Adresse</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorStreetName" class="p-mb-2 p-mr-2" id="53"
                               pInputText
                               placeholder="Adresse" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="54">Numero de la rue</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorStreetNumber" class="p-mb-2 p-mr-2" id="54"
                               pInputText
                               placeholder="numero de la rue" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="55">Ville</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorCity" class="p-mb-2 p-mr-2" id="55"
                               pInputText
                               placeholder="Ville" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="56">Bâtiment</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorBuilding" class="p-mb-2 p-mr-2" id="56"
                               pInputText
                               placeholder="bâtiment" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="57">Escaliers</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorStairs" class="p-mb-2 p-mr-2" id="57"
                               pInputText
                               placeholder="Escaliers" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="58">Etage</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorFloor" class="p-mb-2 p-mr-2" id="58"
                               pInputText
                               placeholder="Etage" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="17">Contact prenom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactFirstName" class="p-mb-2 p-mr-2" id="17"
                               pInputText
                               placeholder="Contact prenom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="18">Contact nom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactLastName" class="p-mb-2 p-mr-2" id="18"
                               pInputText
                               placeholder="Contact nom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="19">Contact téléphone</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactPhone" class="p-mb-2 p-mr-2" id="19"
                               pInputText
                               placeholder="Contact téléphone" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="20">Contact téléphone portable</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactCellPhone" class="p-mb-2 p-mr-2" id="20"
                               pInputText
                               placeholder="Contact téléphone portable" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="21">contact e-mail</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactEmail" class="p-mb-2 p-mr-2" id="21"
                               pInputText
                               placeholder="Contact e-mail" type="text"
                        />

                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>



    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideEditDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
            <div>
                <button (click)="edit()" icon="pi pi-check" label="Valider" pButton pRipple
                        style="margin:5px"></button>
            </div>

        </div>
    </ng-template>

    <app-operator-create-admin></app-operator-create-admin>
    <app-departement-create-admin></app-departement-create-admin>
    <app-technicien-create-admin></app-technicien-create-admin>

</p-dialog>
