<p-dialog [(visible)]="viewTemplateEmailConfirmationClientDialog" [modal]="true"
          [style]="{width: '70vw'}" header=""
          styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="">
                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-6">
                        <label for="1">Libelle</label>
                        <input [(ngModel)]="selectedTemplateEmailConfirmationClient.libelle" [(ngModel)]="selectedTemplateEmailConfirmationClient.libelle" [disabled]="true" autofocus
                               class="p-mb-2 p-mr-2" id="1"
                               pInputText placeholder="Libelle"
                               type="text">
                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="2">Objet</label>
                        <input [(ngModel)]="selectedTemplateEmailConfirmationClient.objet" [(ngModel)]="selectedTemplateEmailConfirmationClient.objet" [disabled]="true" autofocus
                               class="p-mb-2 p-mr-2" id="2"
                               pInputText placeholder="Objet"
                               type="text">
                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="3">Corps</label>
                        <textarea [(ngModel)]="selectedTemplateEmailConfirmationClient.corps" [disabled]="true" cols="30" id="3" pInputTextarea
                                  placeholder="Corps" rows="5"
                        ></textarea>
                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideViewDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
        </div>
    </ng-template>


</p-dialog>



