<p-dialog [(visible)]="editOrdreKoscDialog" [draggable]="false"
          [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="CDD" styleClass="p-fluid">


    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Information">
                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-3">
                        <label for="1">Order</label>
                        <input [(ngModel)]="selectedOrdreKosc.reference" [disabled]="true" class="p-mb-2 p-mr-2"
                               id="1" pInputText
                               placeholder="Reference Order" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="2">Work<span style="color: red;">*</span></label>
                        <input [(ngModel)]="selectedOrdreKosc.referenceWorkOrder" [disabled]="true" [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscReferenceWorkOrder}"
                               class="p-mb-2 p-mr-2"
                               id="2" pInputText
                               placeholder="Reference work order"
                               type="text"/>
                        <small *ngIf='!validOrdreKoscReferenceWorkOrder' class='p-error'>ReferenceWorkOrder est
                            obligatoire.</small>
                    </div>

                    <div class="p-field p-col-11 p-md-2">
                        <label for="999">Technicien</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.technicienVo" [disabled]="true"
                                    [filter]="true" [options]="techniciens" [showClear]="true"
                                    filterMatchMode="contains"
                                    id="999"
                                    optionLabel="identifiant"
                                    placeholder="Technicien">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTechnicien('technicien')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="30">Date rdv</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateRdv" [disabled]="true" [showSeconds]="false"
                                    [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="30"
                                    placeholder="Date rdv">
                        </p-calendar>

                    </div>

                    <div class="p-field p-col-11 p-md-2">
                        <label for="98">Departement</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [disabled]="true"
                                    [filter]="true" [options]="departements" [showClear]="true"
                                    filterMatchMode="contains" id="98"
                                    optionLabel="libelle"
                                    placeholder="Departement">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateDepartement('departement')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>


                    <div class="p-field p-col-11 p-md-2">
                        <label for="144">Etat demande kosc</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.etatDemandeKoscVo"
                                    [filter]="true"
                                    [options]="etatDemandeKoscs" [showClear]="true" filterMatchMode="contains"
                                    id="144"
                                    optionLabel="libelle"
                                    placeholder="Etat demande kosc">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateEtatDemandeKosc('etatDemandeKosc')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>

                    <div class="p-field p-col-11 p-md-2">
                        <label for="220">Operator</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.operatorVo" [disabled]="true"
                                    [filter]="true" [options]="operators" [showClear]="true"
                                    filterMatchMode="contains"
                                    id="220"
                                    optionLabel="libelle"
                                    placeholder="Operator">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateOperator('operator')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="102">Numero serie ont</label>
                        <input [(ngModel)]="selectedOrdreKosc.numeroSerieOnt" [disabled]="true" class="p-mb-2 p-mr-2"
                               id="102" pInputText
                               placeholder="Numero serie ont" type="text"
                        />

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="3">Code decharge</label>
                        <input [(ngModel)]="selectedOrdreKosc.codeDecharge" class="p-mb-2 p-mr-2" id="3"
                               pInputText
                               placeholder="Code decharge" type="text"
                        />

                    </div>


                    <!--                    <div class="p-field p-col-12 p-md-3">-->
                    <!--                        <label for="143">Commentaire Kosc</label>-->
                    <!--                        <textarea id="143" pInputTextarea rows="5" cols="30"-->
                    <!--                                  placeholder="Commentaire Kosc (add it to yaml)"-->
                    <!--                                  [(ngModel)]="selectedOrdreKosc.comment"-->
                    <!--                        ></textarea>-->
                    <!--                    </div>-->
                    <div class="p-field p-col-12 p-md-3">
                        <label for="142">Commentaire client</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireClient" [disabled]="true" cols="30" id="142"
                                  pInputTextarea placeholder="Commentaire client"
                                  rows="5"
                        ></textarea>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="200">Commentaire operateur</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireTechnicien" [disabled]="true" cols="30" id="200" pInputTextarea
                                  placeholder="Commentaire operateur (add it to yaml)"
                                  rows="5"
                        ></textarea>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="25">Submission date</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.submissionDate" [disabled]="true" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="25"
                                    placeholder="Submission date">
                        </p-calendar>

                    </div>
                    <!--                    <div class="p-field p-col-11 p-md-2">-->
                    <!--                        <label for="3000">Region</label>-->
                    <!--                        <p-dropdown [options]="regions" [(ngModel)]="selectedOrdreKosc.departementVo"-->
                    <!--                                    id="3000" [filter]="true" filterMatchMode="contains"-->
                    <!--                                    [showClear]="true"-->
                    <!--                                    optionLabel="libelle"-->
                    <!--                                    placeholder="Region">-->
                    <!--                        </p-dropdown>-->

                    <!--                    </div>-->
                    <!--                    <div class="p-col-1">-->
                    <!--                        <label></label>-->
                    <!--                        <button pButton pRipple type="button"-->
                    <!--                                icon="pi pi-plus" (click)="openCreateRegion('region')"-->
                    <!--                                class="p-button-success one-colonne-btn-success-align"></button>-->
                    <!--                    </div>-->


                    <div class="p-field align-inputswitch p-col-12  p-md-3">
                        <div class="label-inputswitch">
                            <label for="49">Racordement long</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedOrdreKosc.racordementLong" [disabled]="true" id="49"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="390">Type pbo</label>
                        <input [(ngModel)]="selectedOrdreKosc.typePbo" [disabled]="true" class="p-mb-2 p-mr-2"
                               id="390" pInputText
                               placeholder="Type pbo" type="text"
                        />

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="101">Pbo reel</label>
                        <input [(ngModel)]="selectedOrdreKosc.pboReel" [disabled]="true" class="p-mb-2 p-mr-2"
                               id="101" pInputText
                               placeholder="Pbo reel" type="text"
                        />

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="100">Date envoi cri</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateEnvoiCri" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="100"
                                    placeholder="Date envoi cri">
                        </p-calendar>

                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Cloture">
                <div class="p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="145">Template email cloture</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.templateEmailClotureVo"
                                    [filter]="true"
                                    [options]="templateEmailClotures" [showClear]="true" filterMatchMode="contains"
                                    id="145"
                                    optionLabel="libelle"
                                    placeholder="Template email cloture">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailCloture('templateEmailCloture')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton
                                pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="146">Objet cloture</label>
                        <input [(ngModel)]="selectedOrdreKosc.objetCloture" class="p-mb-2 p-mr-2" id="146"
                               pInputText
                               placeholder="Objet cloture" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-5">
                        <label for="147">Corps cloture</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.corpsCloture" cols="30" id="147" pInputTextarea
                                  placeholder="Corps cloture" rows="10"
                        ></textarea>

                    </div>
                    <div class="p-field align-inputswitch p-col-12  p-md-4">
                        <div class="label-inputswitch">
                            <label for="148">Envoye cloture</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedOrdreKosc.envoyeCloture" id="148"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="149">Date envoi cloture</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateEnvoiCloture" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="149"
                                    placeholder="Date envoi cloture">
                        </p-calendar>

                    </div>
                    <div class="p-field p-col-12 p-md-5">
                        <label for="143">Commantaire cloture</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commantaireCloture" cols="30" id="143" pInputTextarea
                                  placeholder="5sena ndiro piece joint"
                                  rows="10"
                        ></textarea>

                    </div>
                    <!--                            <div class="p-field p-col-12 p-md-3">-->
                    <!--                                <label for="150">Email cloture piece joints</label>-->
                    <!--                                <input class="p-mb-2 p-mr-2" type="text" pInputText-->
                    <!--                                       placeholder="Email cloture piece joints"-->
                    <!--                                       id="150" [(ngModel)]="selectedOrdreKosc.emailCloturePieceJoints"-->
                    <!--                                />-->

                    <!--                            </div>-->
                </div>
            </p-tabPanel>
            <p-tabPanel header="Suivi">
                <div class="p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="151">Template suivi</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.templateSuiviVo" [filter]="true"
                                    [options]="templateSuivis" [showClear]="true" filterMatchMode="contains"
                                    id="151"
                                    optionLabel="libelle"
                                    placeholder="Template suivi">
                        </p-dropdown>

                    </div>

                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateSuivi('templateSuivi')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="152">Objet suivi</label>
                        <input [(ngModel)]="selectedOrdreKosc.objetSuivi" class="p-mb-2 p-mr-2" id="152"
                               pInputText
                               placeholder="Objet suivi" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-5">
                        <label for="153">Corps suivi</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.corpsSuivi" cols="30" id="153" pInputTextarea
                                  placeholder="Corps suivi" rows="10"
                        ></textarea>

                    </div>
                    <div class="p-field align-inputswitch p-col-12  p-md-3">
                        <div class="label-inputswitch">
                            <label for="154">Envoye suivi</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedOrdreKosc.envoyeSuivi" id="154"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="155">Date envoi suivi</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateEnvoiSuivi" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="155"
                                    placeholder="Date envoi suivi">
                        </p-calendar>

                    </div>

                    <div class="p-col-1">
                        <label></label>
                    </div>
                    <div class="p-field align-inputswitch p-col-12  p-md-3">
                        <div class="label-inputswitch">
                            <label for="154">Annuler envoi email</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedOrdreKosc.existingOtp" id="156"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>

                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideEditDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
            <div>
                <button (click)="edit()" icon="pi pi-check" label="Valider" pButton pRipple
                        style="margin:10px"></button>
            </div>
        </div>
    </ng-template>

    <app-operator-create-admin></app-operator-create-admin>
    <app-departement-create-admin></app-departement-create-admin>
    <app-technicien-create-admin></app-technicien-create-admin>
    <app-region-create-admin></app-region-create-admin>
    <app-template-email-client-injoinable-create-admin></app-template-email-client-injoinable-create-admin>
    <app-template-email-planification-create-admin></app-template-email-planification-create-admin>
    <app-template-email-replanification-create-admin></app-template-email-replanification-create-admin>
    <app-template-email-report-create-admin></app-template-email-report-create-admin>
    <app-etat-demande-kosc-create-admin></app-etat-demande-kosc-create-admin>
    <app-template-email-cloture-create-admin></app-template-email-cloture-create-admin>
    <app-template-suivi-create-admin></app-template-suivi-create-admin>


</p-dialog>
