<p-dialog [(visible)]="createEtatDemandeKoscDialog" [draggable]="false"
          [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="Etat demande kosc" styleClass="p-fluid">


    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Etat demande kosc">
                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-6">
                        <label for="1">Code<span style="color: red;">*</span></label>
                        <input [(ngModel)]="selectedEtatDemandeKosc.code" [ngClass]="{'ng-invalid ng-dirty' : !validEtatDemandeKoscCode}" class="p-mb-2 p-mr-2"
                               id="1"
                               pInputText placeholder="Code"
                               type="text"/>
                        <small *ngIf='!validEtatDemandeKoscCode' class='p-error'>Code est obligatoire.</small>
                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="2">Libelle<span style="color: red;">*</span></label>
                        <input [(ngModel)]="selectedEtatDemandeKosc.libelle" [ngClass]="{'ng-invalid ng-dirty' : !validEtatDemandeKoscLibelle}" class="p-mb-2 p-mr-2"
                               id="2"
                               pInputText placeholder="Libelle"
                               type="text"/>
                        <small *ngIf='!validEtatDemandeKoscLibelle' class='p-error'>Libelle est obligatoire.</small>
                    </div>
                    <div class="p-field p-col-12 p-md-6">
                        <label for="2">Style<span style="color: red;">*</span></label>
                        <input [(ngModel)]="selectedEtatDemandeKosc.style" [ngClass]="{'ng-invalid ng-dirty' : !validEtatDemandeKoscStyle}" class="p-mb-2 p-mr-2"
                               id="2"
                               pInputText placeholder="style"
                               type="text"/>
                        <small *ngIf='!validEtatDemandeKoscStyle' class='p-error'>style est obligatoire.</small>
                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
            <div>
                <button (click)="save()" icon="pi pi-check" label="Valider" pButton pRipple
                        style="margin:10px"></button>
            </div>
        </div>
    </ng-template>


</p-dialog>
