<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                    <button (click)="openCreateDepartementTechnicien('departementTechnicien')"
                            class="p-button-success p-mr-2 p-mb-2" icon="pi pi-plus" label="Nouveau" pButton
                            pRipple></button>


                    <button (click)="this.findByCriteriaShow = !this.findByCriteriaShow"
                            class="p-button-success p-mr-2 p-mb-2"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label="Chercher"
                            pButton
                            pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download" label="Exporter"
                                       styleClass="p-button-help"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [(ngModel)]="searchDepartementTechnicien.technicienVo"
                                            [filter]="true"
                                            [options]="techniciens"
                                            [showClear]="true" id="1" optionLabel="identifiant"
                                            placeholder="Technicien">
                                </p-dropdown>
                            </span>
                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [(ngModel)]="searchDepartementTechnicien.departementVo"
                                            [filter]="true"
                                            [options]="departements"
                                            [showClear]="true" id="2" optionLabel="libelle"
                                            placeholder="Departement">
                                </p-dropdown>
                            </span>

                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    [(ngModel)]="searchDepartementTechnicien.dateDebutMin" class="p-mr-2"
                                    dateFormat="dd-MM-yy"
                                    id="3-1"></p-calendar>
                            <label for="3-1">Date debut Min</label>
                        </span>

                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    [(ngModel)]="searchDepartementTechnicien.dateDebutMax" class="p-mr-2"
                                    dateFormat="dd-MM-yy"
                                    id="3-2"></p-calendar>
                            <label for="3-2">Date debut Max</label>
                        </span>


                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    [(ngModel)]="searchDepartementTechnicien.dateFinMin" class="p-mr-2"
                                    dateFormat="dd-MM-yy"
                                    id="4-1"></p-calendar>
                            <label for="4-1">Date fin Min</label>
                        </span>

                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    [(ngModel)]="searchDepartementTechnicien.dateFinMax" class="p-mr-2"
                                    dateFormat="dd-MM-yy"
                                    id="4-2"></p-calendar>
                            <label for="4-2">Date fin Max</label>
                        </span>

                </div>

                <div class="align-search-button">
                    <button (click)="searchRequest()" class="p-button-info p-mr-2" icon="pi pi-sort-amount-down"
                            label="Valider"
                            pButton pRipple></button>
                </div>
            </p-toolbar>


            <p-table #dt [(selection)]="selectedDepartementTechnicien" [columns]="cols"
                     [globalFilterFields]="['technicienVoidentifiant', 'departementVolibelle', 'dateDebut', 'dateFin']"
                     [paginator]="true"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[8,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="departementTechniciens"
                     currentPageReportTemplate="Les éléments de {first} à {last} sur {totalRecords} "
                     dataKey="id" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des departement techniciens</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText
                                   placeholder="Chercher..."
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th style="width: 3rem"></th>
                        <th pSortableColumn="technicien">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Technicien</span>
                                <p-sortIcon field="technicien"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="departement">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Departement</span>
                                <p-sortIcon field="departement"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="dateDebut">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Date debut</span>
                                <p-sortIcon field="dateDebut"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="dateFin">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Date fin</span>
                                <p-sortIcon field="dateFin"></p-sortIcon>
                            </div>
                        </th>


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-departementTechnicien pTemplate="body" let-expanded="expanded">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="departementTechnicien"></p-tableCheckbox>
                        </td>
                        <td>
                            <button type="button" pButton pRipple
                                    [pRowToggler]="departementTechnicien"
                                    class="p-button-text p-button-rounded p-button-plain"

                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>

                        <td>{{departementTechnicien.technicienVo?.identifiant}}</td>


                        <td>{{departementTechnicien.departementVo?.libelle}}</td>


                        <td>{{departementTechnicien.dateDebut | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{departementTechnicien.dateFin | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>
                            <button (click)="editDepartementTechnicien(departementTechnicien)"
                                    class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                    pButton
                                    pRipple></button>
                            <button (click)="viewDepartementTechnicien(departementTechnicien)"
                                    class="p-button-rounded p-button-info p-mr-2" icon="pi pi-list" pButton
                                    pRipple></button>
                            <button (click)="deleteDepartementTechnicien(departementTechnicien)"
                                    class="p-button-rounded p-button-danger p-mr-2" icon="pi pi-trash" pButton
                                    pRipple></button>

                            <button (click)="duplicateDepartementTechnicien(departementTechnicien)"
                                    class="p-button-rounded p-button-raised p-button-warning" icon="pi pi-copy"
                                    pButton
                                    pRipple></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{departementTechniciens ? departementTechniciens.length == 1 ? 'y a' : 'y a' : 'y a' }} {{departementTechniciens ? departementTechniciens.length : 0 }} {{departementTechniciens ? departementTechniciens.length == 1 ? 'departement technicien' : 'departement techniciens' : 0 }}
                        .
                    </div>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-departementTechnicien>
                    <tr>
                        <td colspan="7">
                            <div class="p-3">
                                <p-table [value]="departementTechnicien.arretTravailVos" dataKey="id">
                                    <ng-template pTemplate="header">
                    <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>


                    <th pSortableColumn="technicien">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            <span>Technicien</span>
                            <p-sortIcon field="technicien"></p-sortIcon>
                        </div>
                    </th>


                    <th pSortableColumn="dateDebut">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            <span>Date debut</span>
                            <p-sortIcon field="dateDebut"></p-sortIcon>
                        </div>
                    </th>


                    <th pSortableColumn="dateFin">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            <span>Date fin</span>
                            <p-sortIcon field="dateFin"></p-sortIcon>
                        </div>
                    </th>


                    <th pSortableColumn="raisonArretTravail">
                        <div class="p-d-flex p-jc-between p-ai-center">
                            <span>Raison arret travail</span>
                            <p-sortIcon field="raisonArretTravail"></p-sortIcon>
                        </div>
                    </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-arretTravail>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="arretTravail"></p-tableCheckbox>
                        </td>

                        <td>{{arretTravail.technicienVo?.identifiant}}</td>


                        <td>{{arretTravail.dateDebut | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{arretTravail.dateFin | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{arretTravail.raisonArretTravailVo?.libelle}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">There are no order for this product yet.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </td>
        </tr>
        </ng-template>


            </p-table>

        </div>

        <app-departement-technicien-create-admin></app-departement-technicien-create-admin>
        <app-departement-technicien-edit-admin></app-departement-technicien-edit-admin>
        <app-departement-technicien-view-admin></app-departement-technicien-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

