<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-6">

        <div class="card">
            <h5>InputText</h5>
            <div class="p-grid p-formgrid">
                <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                    <input pInputText placeholder="Default" type="text">
                </div>
                <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                    <input [disabled]="true" pInputText placeholder="Disabled" type="text"/>
                </div>
                <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
                    <input class="p-invalid" pInputText placeholder="Invalid" type="text"/>
                </div>
            </div>

            <h5>Icons</h5>
            <div class="p-grid p-formgrid">
                <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
					<span class="p-input-icon-left">
						<i class="pi pi-user"></i>
						<input pInputText placeholder="Username" type="text"/>
					</span>
                </div>
                <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
					<span class="p-input-icon-right">
						<input pInputText placeholder="Search" type="text"/>
						<i class="pi pi-search"></i>
					</span>
                </div>
                <div class="p-col-12 p-mb-2 p-lg-4 p-mb-lg-0">
					<span class="p-input-icon-left p-input-icon-right">
						<i class="pi pi-user"></i>
						<input pInputText placeholder="Search" type="text"/>
						<i class="pi pi-search"></i>
					</span>
                </div>
            </div>

            <h5>Float Label</h5>
            <span class="p-float-label">
				<input id="float-input" pInputText type="text">
				<label for="float-input">Username</label>
			</span>

            <h5>Textarea</h5>
            <textarea cols="30" pInputTextarea placeholder="Your Message" rows="5"></textarea>

            <h5>AutoComplete</h5>
            <p-autoComplete (completeMethod)="filterCountry($event)" [(ngModel)]="selectedCountryAdvanced"
                            [dropdown]="true" [suggestions]="filteredCountries" field="name">
            </p-autoComplete>

            <h5>Calendar</h5>
            <p-calendar [showIcon]="true" inputId="icon"></p-calendar>

            <h5>InputNumber</h5>
            <p-inputNumber [max]="100" [min]="0" [showButtons]="true" mode="decimal">
            </p-inputNumber>

            <h5>Chips</h5>
            <p-chips></p-chips>
        </div>


        <div class="card">
            <div class="p-grid">
                <div class="p-col-12">
                    <h5>Slider</h5>
                    <input [(ngModel)]="valSlider" pInputText readonly type="text"/>
                    <p-slider [(ngModel)]="valSlider"></p-slider>
                </div>
                <div class="p-col-12 p-md-6">
                    <h5>Rating</h5>
                    <p-rating></p-rating>
                </div>
                <div class="p-col-12 p-md-6">
                    <h5>ColorPicker</h5>
                    <p-colorPicker [(ngModel)]="valColor"></p-colorPicker>
                </div>
                <div class="p-col-12">
                    <h5>Knob</h5>
                    <p-knob [(ngModel)]="valueKnob" [max]="50" [min]="-50" [step]="10"
                            valueTemplate="{value}%"></p-knob>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-6">
        <div class="card">
            <h5>RadioButton</h5>
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <div class="p-field-radiobutton">
                        <p-radioButton [(ngModel)]="valRadio" id="city1" name="city" value="Chicago"></p-radioButton>
                        <label for="city1">Chicago</label>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="p-field-radiobutton">
                        <p-radioButton [(ngModel)]="valRadio" id="city2" name="city"
                                       value="Los Angeles"></p-radioButton>
                        <label for="city2">Los Angeles</label>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="p-field-radiobutton">
                        <p-radioButton [(ngModel)]="valRadio" id="city3" name="city" value="New York"></p-radioButton>
                        <label for="city3">New York</label>
                    </div>
                </div>
            </div>

            <h5>Checkbox</h5>
            <div class="p-grid">
                <div class="p-col-12 p-md-4">
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="valCheck" id="ny" name="group1" value="New York"></p-checkbox>
                        <label for="ny">New York</label>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="valCheck" id="sf" name="group1" value="San Francisco"></p-checkbox>
                        <label for="sf">San Francisco</label>
                    </div>
                </div>
                <div class="p-col-12 p-md-4">
                    <div class="p-field-checkbox">
                        <p-checkbox [(ngModel)]="valCheck" id="la" name="group1" value="Los Angeles"></p-checkbox>
                        <label for="la">Los Angeles</label>
                    </div>
                </div>
            </div>

            <h5>Input Switch</h5>
            <p-inputSwitch [(ngModel)]="valSwitch"></p-inputSwitch>
        </div>

        <div class="card">
            <h5>Listbox</h5>
            <p-listbox [(ngModel)]="selectedList" [filter]="true" [options]="cities"></p-listbox>

            <h5>Dropdown</h5>
            <p-dropdown [(ngModel)]="selectedDrop" [options]="cities" [showClear]="true"
                        placeholder="Select a City"></p-dropdown>


            <h5>Multiselect</h5>
            <p-multiSelect [(ngModel)]="selectedMulti" [options]="countries" class="multiselect-custom"
                           defaultLabel="Select a Country" optionLabel="name">
                <ng-template let-value pTemplate="selectedItems">
                    <div *ngFor="let option of selectedMulti" class="country-item country-item-value">
                        <img [class]="'flag flag-' + option.code.toLowerCase()"
                             src="assets/demo/flags/flag_placeholder.png"/>
                        <div>{{option.name}}</div>
                    </div>
                    <div *ngIf="!selectedMulti || selectedMulti.length === 0" class="country-placeholder">
                        Select Countries
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="country-item">
                        <img [class]="'flag flag-' + country.code.toLowerCase()"
                             src="assets/demo/flags/flag_placeholder.png"/>
                        <div>{{country.name}}</div>
                    </div>
                </ng-template>
            </p-multiSelect>

        </div>

        <div class="card">
            <h5>ToggleButton</h5>
            <p-toggleButton [(ngModel)]="valToggle" [style]="{'width': '10em'}" offLabel="No"
                            onLabel="Yes"></p-toggleButton>

            <h5>SelectOneButton</h5>
            <p-selectButton [(ngModel)]="valSelect1" [options]="paymentOptions" multiple="multiple"
                            optionLabel="name"></p-selectButton>

            <h5>SelectManyButton</h5>
            <p-selectButton [(ngModel)]="valSelect2" [options]="paymentOptions" multiple="multiple"
                            optionLabel="name"></p-selectButton>

        </div>
    </div>
    <div class="p-col-12">
        <div class="card">
            <h5>InputGroup</h5>
            <div class="p-grid p-fluid">
                <div class="p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input pInputText placeholder="Username" type="text">
                    </div>
                </div>
                <div class="p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-tags" style="line-height: 1.25;"></i></span>
                        <span class="p-inputgroup-addon"><i class="pi pi-shopping-cart" style="line-height: 1.25;"></i></span>
                        <input pInputText placeholder="Price" type="text">
                        <span class="p-inputgroup-addon">$</span>
                        <span class="p-inputgroup-addon">.00</span>
                    </div>
                </div>
                <div class="p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <button label="Search" pButton pRipple type="button"></button>
                        <input pInputText placeholder="Keyword" type="text">
                    </div>
                </div>
                <div class="p-col-12 p-md-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><p-checkbox></p-checkbox></span>
                        <input pInputText placeholder="Username" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
