<div class="p-grid p-nogutter">
    <div class="card" style="width: 100%">
        <h5>Invalid State</h5>
        <p>All form components have an invalid state style to display the validation errors when ng-invalid ng-dirty
            combination is applied by Angular.</p>
        <div class="p-fluid p-grid">
            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label for="inputtext">InputText</label>
                    <input class="ng-invalid ng-dirty" id="inputtext" pInputText type="text">
                </div>
                <div class="p-field">
                    <label for="autocomplete">AutoComplete</label>
                    <p-autoComplete (completeMethod)="searchCountry($event)" [(ngModel)]="value2" [suggestions]="filteredCountries"
                                    class="ng-invalid ng-dirty" field="name"
                                    inputId="autocomplete"></p-autoComplete>
                </div>
                <div class="p-field">
                    <label for="calendar">Calendar</label>
                    <p-calendar [(ngModel)]="value3" [showIcon]="true" class="ng-invalid ng-dirty"
                                inputId="calendar"></p-calendar>
                </div>
                <div class="p-field">
                    <label for="chips">Chips</label>
                    <p-chips [(ngModel)]="value4" class="ng-invalid ng-dirty" inputId="chips"></p-chips>
                </div>
                <div class="p-field">
                    <label for="textarea">Textarea</label>
                    <textarea [(ngModel)]="value9" class="ng-invalid ng-dirty" cols="30" inputId="textarea" pInputTextarea
                              rows="3"></textarea>
                </div>
            </div>

            <div class="p-col-12 p-md-6">
                <div class="p-field">
                    <label for="inputmask">InputMask</label>
                    <p-inputMask [(ngModel)]="value5" class="ng-invalid ng-dirty" inputId="inputmask"
                                 mask="99/99/9999"></p-inputMask>
                </div>
                <div class="p-field">
                    <label for="inputnumber">InputNumber</label>
                    <p-inputNumber [(ngModel)]="value6" class="ng-invalid ng-dirty"
                                   inputId="inputnumber"></p-inputNumber>
                </div>
                <div class="p-field">
                    <label for="dropdown">Dropdown</label>
                    <p-dropdown [(ngModel)]="value7" [autoDisplayFirst]="false" [options]="cities" class="ng-invalid ng-dirty"
                                inputId="dropdown" optionLabel="name"></p-dropdown>
                </div>
                <div class="p-field">
                    <label for="multiselect">MultiSelect</label>
                    <p-multiSelect [(ngModel)]="value7" [filter]="false" [options]="cities" class="ng-invalid ng-dirty"
                                   inputId="multiselect" optionLabel="name"></p-multiSelect>
                </div>
            </div>
        </div>
    </div>
</div>
