<div class="p-grid p-fluid">
    <div class="p-col-12">
        <div class="card">
            <h5>Carousel</h5>
            <p-carousel [circular]="false" [numScroll]="3" [numVisible]="3" [responsiveOptions]="carouselResponsiveOptions"
                        [value]="products">
                <ng-template let-product pTemplate="item">
                    <div class="product-item">
                        <div class="product-item-content">
                            <div class="p-mb-3">
                                <img [alt]="product.name" class="product-image"
                                     src="assets/demo/images/product/{{product.image}}"/>
                            </div>
                            <div>
                                <h4 class="p-mb-1">{{product.name}}</h4>
                                <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6>
                                <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                                <div class="car-buttons p-mt-5">
                                    <p-button icon="pi pi-search" styleClass="p-button p-button-rounded p-mr-2"
                                              type="button"></p-button>
                                    <p-button icon="pi pi-star" styleClass="p-button-success p-button-rounded p-mr-2"
                                              type="button"></p-button>
                                    <p-button icon="pi pi-cog" styleClass="p-button-help p-button-rounded"
                                              type="button"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>

    <div class="p-col-12">
        <div class="card">
            <h5>Galleria</h5>
            <p-galleria [circular]="true" [containerStyle]="{'max-width': '800px', 'margin':'auto'}"
                        [numVisible]="7" [responsiveOptions]="galleriaResponsiveOptions" [value]="images">
                <ng-template let-item pTemplate="item">
                    <img [src]="item.itemImageSrc" style="width: 100%; display: block;"/>
                </ng-template>
                <ng-template let-item pTemplate="thumbnail">
                    <div class="p-grid p-nogutter p-justify-center">
                        <img [src]="item.thumbnailImageSrc" style="display: block;"/>
                    </div>
                </ng-template>
            </p-galleria>
        </div>
    </div>
</div>
