<div class="p-grid misc-demo">
    <div class="p-col-12">
        <div class="card">
            <h5>ProgressBar</h5>
            <div class="p-grid">
                <div class="p-col">
                    <p-progressBar [showValue]="false" [value]="value"></p-progressBar>
                </div>
                <div class="p-col">
                    <p-progressBar [showValue]="false" [value]="50"></p-progressBar>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-lg-6">
        <div class="card">
            <h4>Badge</h4>
            <h5>Numbers</h5>
            <div class="badges">
                <p-badge [value]="2" styleClass="p-mr-2"></p-badge>
                <p-badge [value]="8" severity="success" styleClass="p-mr-2"></p-badge>
                <p-badge [value]="4" severity="info" styleClass="p-mr-2"></p-badge>
                <p-badge [value]="12" severity="warning" styleClass="p-mr-2"></p-badge>
                <p-badge [value]="3" severity="danger"></p-badge>
            </div>

            <h5>Positioned Badge</h5>
            <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 2rem" value="2"></i>
            <i [value]="'10+'" class="pi pi-calendar p-mr-4 p-text-secondary" pBadge severity="danger"
               style="font-size: 2rem"></i>
            <i class="pi pi-envelope p-text-secondary" pBadge severity="danger" style="font-size: 2rem"></i>


            <h5>Inline Button Badge</h5>
            <p-button badge="8" label="Emails" styleClass="p-mr-2"></p-button>
            <p-button badge="8" badgeClass="p-badge-danger" icon="pi pi-users" label="Messages"
                      styleClass="p-button-warning"></p-button>

            <h5>Sizes</h5>
            <div class="badges">
                <p-badge [value]="2" styleClass="p-mr-2"></p-badge>
                <p-badge [value]="4" severity="warning" size="large" styleClass="p-mr-2"></p-badge>
                <p-badge [value]="6" severity="success" size="xlarge" styleClass="p-mr-2"></p-badge>
            </div>
        </div>

        <div class="card">
            <h4>Avatar</h4>
            <h5>Avatar Group</h5>
            <p-avatarGroup styleClass="p-mb-3">
                <p-avatar image="assets/demo/images/avatar/amyelsner.png" shape="circle" size="large"></p-avatar>
                <p-avatar image="assets/demo/images/avatar/asiyajavayant.png" shape="circle" size="large"></p-avatar>
                <p-avatar image="assets/demo/images/avatar/onyamalimba.png" shape="circle" size="large"></p-avatar>
                <p-avatar image="assets/demo/images/avatar/ionibowcher.png" shape="circle" size="large"></p-avatar>
                <p-avatar image="assets/demo/images/avatar/xuxuefeng.png" shape="circle" size="large"></p-avatar>
                <p-avatar [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}" label="+2" shape="circle"
                          size="large"></p-avatar>
            </p-avatarGroup>

            <h5>Label - Circle</h5>
            <p-avatar label="P" shape="circle" size="xlarge" styleClass="p-mr-2"></p-avatar>
            <p-avatar [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" label="V" shape="circle"
                      size="large" styleClass="p-mr-2"></p-avatar>
            <p-avatar [style]="{'background-color': '#9c27b0', 'color': '#ffffff'}" label="U" shape="circle"
                      styleClass="p-mr-2"></p-avatar>

            <h5>Icon - Badge</h5>
            <p-avatar icon="pi pi-user" pBadge severity="success" size="xlarge" styleClass="p-mr-2"
                      value="4"></p-avatar>
        </div>

        <div class="card">
            <h4>ScrollTop</h4>
            <p-scrollPanel [style]="{width: '250px', height: '200px'}">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.
                    Vitae et leo duis ut diam.
                    Ultricies mi quis hendrerit dolor magna eget est lorem. Amet consectetur adipiscing elit ut.
                    Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis hendrerit dolor magna.
                    Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis donec et. Tellus orci ac
                    auctor augue mauris.
                    Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Tincidunt arcu non sodales neque
                    sodales.
                    Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices. Sodales ut etiam sit amet
                    nisl purus.
                    Cursus sit amet dictum sit amet. Tristique senectus et netus et malesuada fames ac turpis egestas.
                    Et tortor consequat id porta nibh venenatis cras sed. Diam maecenas ultricies mi eget mauris.
                    Eget egestas purus viverra accumsan in nisl nisi. Suscipit adipiscing bibendum est ultricies
                    integer.
                    Mattis aliquam faucibus purus in massa tempor nec.
                </p>
                <p-scrollTop [threshold]="100" icon="pi pi-arrow-up" styleClass="custom-scrolltop"
                             target="parent"></p-scrollTop>
            </p-scrollPanel>
        </div>
    </div>
    <div class="p-col-12 p-lg-6">
        <div class="card">
            <h4>Tag</h4>
            <h5>Tags</h5>
            <p-tag styleClass="p-mr-2" value="Primary"></p-tag>
            <p-tag severity="success" styleClass="p-mr-2" value="Success"></p-tag>
            <p-tag severity="info" styleClass="p-mr-2" value="Info"></p-tag>
            <p-tag severity="warning" styleClass="p-mr-2" value="Warning"></p-tag>
            <p-tag severity="danger" value="Danger"></p-tag>

            <h5>Pills</h5>
            <p-tag [rounded]="true" styleClass="p-mr-2" value="Primary"></p-tag>
            <p-tag [rounded]="true" severity="success" styleClass="p-mr-2" value="Success"></p-tag>
            <p-tag [rounded]="true" severity="info" styleClass="p-mr-2" value="Info"></p-tag>
            <p-tag [rounded]="true" severity="warning" styleClass="p-mr-2" value="Warning"></p-tag>
            <p-tag [rounded]="true" severity="danger" value="Danger"></p-tag>

            <h5>Icons</h5>
            <p-tag icon="pi pi-user" styleClass="p-mr-2" value="Primary"></p-tag>
            <p-tag icon="pi pi-check" severity="success" styleClass="p-mr-2" value="Success"></p-tag>
            <p-tag icon="pi pi-info-circle" severity="info" styleClass="p-mr-2" value="Info"></p-tag>
            <p-tag con="pi pi-exclamation-triangle" severity="warning" styleClass="p-mr-2" value="Warning"></p-tag>
            <p-tag icon="pi pi-times" severity="danger" value="Danger"></p-tag>
        </div>

        <div class="card">
            <h4>Chip</h4>
            <h5>Basic</h5>
            <div class="p-d-flex p-ai-center">
                <p-chip label="Action" styleClass="p-mr-2"></p-chip>
                <p-chip label="Comedy" styleClass="p-mr-2"></p-chip>
                <p-chip label="Mystery" styleClass="p-mr-2"></p-chip>
                <p-chip [removable]="true" label="Thriller"></p-chip>
            </div>

            <h5>Icon</h5>
            <div class="p-d-flex p-ai-center">
                <p-chip icon="pi pi-apple" label="Apple" styleClass="p-mr-2"></p-chip>
                <p-chip icon="pi pi-facebook" label="Facebook" styleClass="p-mr-2"></p-chip>
                <p-chip icon="pi pi-google" label="Google" styleClass="p-mr-2"></p-chip>
                <p-chip [removable]="true" icon="pi pi-microsoft" label="Microsoft"></p-chip>
            </div>

            <h5>Image</h5>
            <div class="p-d-flex p-ai-center">
                <p-chip image="assets/demo/images/avatar/amyelsner.png" label="Amy Elsner" styleClass="p-mr-2"></p-chip>
                <p-chip image="assets/demo/images/avatar/asiyajavayant.png" label="Asiya Javayant"
                        styleClass="p-mr-2"></p-chip>
                <p-chip image="assets/demo/images/avatar/onyamalimba.png" label="Onyama Limba"
                        styleClass="p-mr-2"></p-chip>
                <p-chip [removable]="true" image="assets/demo/images/avatar/xuxuefeng.png" label="Xuxue Feng"></p-chip>
            </div>

            <h5>Styling</h5>
            <div class="p-d-flex p-ai-center">
                <p-chip label="Action" styleClass="p-mr-2 custom-chip"></p-chip>
                <p-chip label="Comedy" styleClass="p-mr-2 custom-chip"></p-chip>
                <p-chip image="assets/demo/images/avatar/onyamalimba.png" label="Onyama Limba"
                        styleClass="p-mr-2 custom-chip"></p-chip>
                <p-chip [removable]="true" image="assets/demo/images/avatar/xuxuefeng.png" label="Xuxue Feng"
                        styleClass="custom-chip"></p-chip>
            </div>
        </div>

        <div class="card">
            <h4>Skeleton</h4>
            <div class="custom-skeleton p-p-4">
                <div class="p-d-flex p-mb-3">
                    <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                    <div>
                        <p-skeleton styleClass="p-mb-2" width="10rem"></p-skeleton>
                        <p-skeleton styleClass="p-mb-2" width="5rem"></p-skeleton>
                        <p-skeleton height=".5rem"></p-skeleton>
                    </div>
                </div>
                <p-skeleton height="150px" width="100%"></p-skeleton>
                <div class="p-d-flex p-jc-between p-mt-3">
                    <p-skeleton height="2rem" width="4rem"></p-skeleton>
                    <p-skeleton height="2rem" width="4rem"></p-skeleton>
                </div>
            </div>
        </div>
    </div>
</div>
