<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <h4>Tree</h4>
            <p-tree [(selection)]="selectedFiles1" [value]="files1" selectionMode="checkbox"></p-tree>
        </div>
    </div>
    <div class="p-col-12">
        <div class="card">
            <h4>TreeTable</h4>
            <p-treeTable [(selection)]="selectedFiles2" [columns]="cols" [value]="files2" selectionMode="checkbox">
                <ng-template let-columns pTemplate="header">
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template let-columns="columns" let-rowData="rowData" let-rowNode pTemplate="body">
                    <tr>
                        <td *ngFor="let col of columns; let i = index">
                            <p-treeTableToggler *ngIf="i == 0" [rowNode]="rowNode"></p-treeTableToggler>
                            <p-treeTableCheckbox *ngIf="i == 0" [value]="rowNode"></p-treeTableCheckbox>
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
        </div>
    </div>
    <div class="p-col-12">
        <div class="card">
            <h4>Horizontal Tree</h4>
            <p-tree [(selection)]="selectedFiles3" [value]="files3" layout="horizontal" selectionMode="single"></p-tree>
        </div>
    </div>
</div>
