<p-dialog [(visible)]="editEntrepriseDialog" [draggable]="false"
          [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="Entreprise" styleClass="p-fluid">


    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Entreprise">
                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-6">
                        <label for="1">Libelle<span style="color: red;">*</span></label>
                        <input [(ngModel)]="selectedEntreprise.libelle" [ngClass]="{'ng-invalid ng-dirty' : !validEntrepriseLibelle}" class="p-mb-2 p-mr-2"
                               id="1"
                               pInputText placeholder="Libelle"
                               type="text"/>
                        <small *ngIf='!validEntrepriseLibelle' class='p-error'>Libelle est obligatoire.</small>
                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="2">Code<span style="color: red;">*</span></label>
                        <input [(ngModel)]="selectedEntreprise.code" [ngClass]="{'ng-invalid ng-dirty' : !validEntrepriseCode}" class="p-mb-2 p-mr-2"
                               id="2"
                               pInputText placeholder="Code"
                               type="text"/>
                        <small *ngIf='!validEntrepriseCode' class='p-error'>Code est obligatoire.</small>
                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideEditDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
            <div>
                <button (click)="edit()" icon="pi pi-check" label="Valider" pButton pRipple
                        style="margin:10px"></button>
            </div>
        </div>
    </ng-template>


</p-dialog>
