<!--<div class="container">
    <div class="card">
    <div class="info">
        <span>Current Profile</span>
        <button pButton  pRipple type="button" (click)="showEditFunction()" *ngIf="editButton" class="p-button-warning" label="Edit Profile"></button>
        <button pButton  pRipple type="button"  (click)="showEditFunction()" *ngIf="!editButton" class="p-button-help" label="Show Profile"></button>
    </div>
        <div class="forms" *ngIf="!showEdit">
            <div class="inputs">
    <span>Prénom</span>
    <input type="text" readonly value="{{user.prenom != null ? user.prenom:'undefined'}}">
</div> <div class="inputs">
    <span>Nom</span>
    <input type="text" readonly value="{{user.nom!= null ? user.nom:'undefined'}}">
</div> 
      <div class="inputs">
    <span>Email</span>
    <input type="text" readonly value="{{user.email!= null ? user.email:'undefined'}}"> </div>
    <div class="inputs">
        <span>Login</span>
        <input type="text" readonly value="{{user.username!= null ? user.username:'undefined'}}">
    </div>
  <div class="inputs">
        <span>Role</span>
        <input type="text" readonly value="{{user.roles[0]?.authority!= null ? user.roles[0]?.authority:'undefined'}}">
    </div>
        </div>


        <div class="forms" *ngIf="showEdit">
            <div class="inputs">
                <span>Prénom</span>
                <input type="text"   [(ngModel)]="user.prenom">
            </div> <div class="inputs">
            <span>Nom</span>
            <input type="text"    [(ngModel)]="user.nom">
        </div>
            <div class="inputs">
                <span>Email</span>
                <input type="text"   [(ngModel)]="user.email"> </div>
            <div class="inputs">
                <span>Login</span>
                <input type="text"   [(ngModel)]="user.username">
            </div>
            <div class="inputs">
                <span>Mot de Passe</span>
                <button pButton pRipple type="button" label="Changer Mot de Passe" class="p-button-help p-button-text"
                (click)="changePaswordDialog(true)"
                ></button>
            </div>
<div >
                <button  pButton pRipple type="button" label="Save Changes" (click)="updateUser()" class="myButton" style="left:470px;top:20px">
                </button>
        </div>
            <p-dialog [(visible)]="showChangePasword" position="bottom" modal="true">
                <div class="inputs">
                    <span>Old Password</span>
                    <input type="password"  [(ngModel)]="oldPassword" [ngClass]="{'ng-invalid ng-dirty' : errorPassword}"
                    >
                    <small class='p-error' *ngIf='errorPassword'>Mot de passe incorrect</small>
                </div>
                <div class="inputs">
                    <span>new Password</span>
                    <input type="password" [(ngModel)]="newPassword">
                </div>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="ChangePasword()" label="change password" styleClass="p-button-text"></p-button>
                    <p-button  (click)="changePaswordDialog(false)" label="Cancel" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>-->
    <div class="col-md-12 bg-white" >
        <div class="card-body col-md-11 " >
            <div >
                <h2 class="text-capitalize">User Profile</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4 pl-1 mt-3">
                            <div class="form-group">
                                <label>Company</label>
                                <input type="text" class="form-control" disabled="" placeholder="Company" value="MANEO INGENIERIE">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1 mt-2">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" placeholder="Username" value="{{user.username!= null ? user.username:'undefined'}}" disabled="true">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1 mt-2">
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder="Email" value="{{user.email != null ? user.email:'undefined'}}" disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1 mt-2">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" placeholder="Company" value="{{user.prenom != null ? user.prenom:'undefined'}}" disabled="true">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1 mt-2">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" placeholder="Last Name" value="{{user.nom != null ? user.nom:'undefined'}}" disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <div class="form-group">
                                <label>Telephone</label>
                                <input type="text" class="form-control" placeholder="Home Address" value="{{user.telephone != null ? user.telephone:'undefined'}}" disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1 mt-2">
                            <div class="form-group">
                                <label>Role</label>
                                <input type="text" class="form-control" placeholder="Role" value="{{user.roles[0]?.authority}}" disabled="true">
                            </div>
                        </div>
                    </div>
                    <!--<div class="card-footer mt-4">
                            <button type="submit" class="btn btn-primary btn-round">Update Profile</button>
                    </div>-->
                </form>
            </div>
        </div>
    </div>

