<p-dialog [(visible)]="createDefaultTemplateConfigurationDialog" [draggable]="false"
          [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="Default template configuration" styleClass="p-fluid">


    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Default template configuration">
                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-3">
                        <label for="1">Email kosc<span style="color: red;">*</span></label>
                        <input [(ngModel)]="selectedDefaultTemplateConfiguration.emailKosc" [ngClass]="{'ng-invalid ng-dirty' : !validDefaultTemplateConfigurationEmailKosc}" class="p-mb-2 p-mr-2"
                               id="1"
                               pInputText placeholder="Email kosc"
                               type="text"/>
                        <small *ngIf='!validDefaultTemplateConfigurationEmailKosc' class='p-error'>EmailKosc est
                            obligatoire.</small>
                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="2">Email maneo<span style="color: red;">*</span></label>
                        <input [(ngModel)]="selectedDefaultTemplateConfiguration.emailManeo" [ngClass]="{'ng-invalid ng-dirty' : !validDefaultTemplateConfigurationEmailManeo}" class="p-mb-2 p-mr-2"
                               id="2"
                               pInputText placeholder="Email maneo"
                               type="text"/>
                        <small *ngIf='!validDefaultTemplateConfigurationEmailManeo' class='p-error'>EmailManeo est
                            obligatoire.</small>
                    </div>


                    <div class="p-field p-col-11 p-md-2">
                        <label for="3">Template email ftl</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailFtlVo"
                                    [filter]="true"
                                    [options]="templateEmailFtls" [showClear]="true" filterMatchMode="contains"
                                    id="3"
                                    optionLabel="libelle"
                                    placeholder="Template email ftl">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailFtl('templateEmailFtl')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="4">Template email cloture</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailClotureVo"
                                    [filter]="true"
                                    [options]="templateEmailClotures" [showClear]="true" filterMatchMode="contains"
                                    id="4"
                                    optionLabel="libelle"
                                    placeholder="Template email cloture">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailCloture('templateEmailCloture')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="5">Template suivi</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateSuiviVo"
                                    [filter]="true"
                                    [options]="templateSuivis" [showClear]="true" filterMatchMode="contains"
                                    id="5"
                                    optionLabel="libelle"
                                    placeholder="Template suivi">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateSuivi('templateSuivi')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="6">Template email client injoinable</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailClientInjoinableVo"
                                    [filter]="true"
                                    [options]="templateEmailClientInjoinables" [showClear]="true" filterMatchMode="contains"
                                    id="6"
                                    optionLabel="libelle"
                                    placeholder="Template email client injoinable">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailClientInjoinable('templateEmailClientInjoinable')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton
                                pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="7">Template email report</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailReportVo"
                                    [filter]="true"
                                    [options]="templateEmailReports" [showClear]="true" filterMatchMode="contains"
                                    id="7"
                                    optionLabel="libelle"
                                    placeholder="Template email report">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailReport('templateEmailReport')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="8">Template email planification</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailPlanificationVo"
                                    [filter]="true"
                                    [options]="templateEmailPlanifications" [showClear]="true" filterMatchMode="contains"
                                    id="8"
                                    optionLabel="libelle"
                                    placeholder="Template email planification">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailPlanification('templateEmailPlanification')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton
                                pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="9">Template email replanification</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailReplanificationVo"
                                    [filter]="true"
                                    [options]="templateEmailReplanifications" [showClear]="true" filterMatchMode="contains"
                                    id="9"
                                    optionLabel="libelle"
                                    placeholder="Template email replanification">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailReplanification('templateEmailReplanification')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton
                                pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="10">Template email refus</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailRefusVo"
                                    [filter]="true"
                                    [options]="templateEmailRefuss" [showClear]="true" filterMatchMode="contains"
                                    id="10"
                                    optionLabel="libelle"
                                    placeholder="Template email refus">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailRefus('templateEmailRefus')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="11">Template email client injoinable kosc</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailClientInjoinableKoscVo"
                                    [filter]="true"
                                    [options]="templateEmailClientInjoinableKoscs" [showClear]="true" filterMatchMode="contains"
                                    id="11"
                                    optionLabel="libelle"
                                    placeholder="Template email client injoinable kosc">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailClientInjoinableKosc('templateEmailClientInjoinableKosc')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton
                                pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="12">Template email confirmation client</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailConfirmationClientVo"
                                    [filter]="true"
                                    [options]="templateEmailConfirmationClients" [showClear]="true" filterMatchMode="contains"
                                    id="12"
                                    optionLabel="libelle"
                                    placeholder="Template email confirmation client">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailConfirmationClient('templateEmailConfirmationClient')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton
                                pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="13">Template email mauvais contact</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailMauvaisContactVo"
                                    [filter]="true"
                                    [options]="templateEmailMauvaisContacts" [showClear]="true" filterMatchMode="contains"
                                    id="13"
                                    optionLabel="libelle"
                                    placeholder="Template email mauvais contact">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailMauvaisContact('templateEmailMauvaisContact')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton
                                pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="14">Template email cri</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailCriVo"
                                    [filter]="true"
                                    [options]="templateEmailCris" [showClear]="true" filterMatchMode="contains"
                                    id="14"
                                    optionLabel="libelle"
                                    placeholder="Template email cri">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailCri('templateEmailCri')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="15">Template email report demande maneo client injoignable</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailReportDemandeManeoClientInjoignableVo"
                                    [filter]="true"
                                    [options]="templateEmailReportDemandeManeoClientInjoignables" [showClear]="true" filterMatchMode="contains"
                                    id="15"
                                    optionLabel="libelle"
                                    placeholder="Template email report demande maneo client injoignable">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailReportDemandeManeoClientInjoignable('templateEmailReportDemandeManeoClientInjoignable')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="16">Template email report demande maneo client joignable accepte</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailReportDemandeManeoClientJoignableAccepteVo"
                                    [filter]="true"
                                    [options]="templateEmailReportDemandeManeoClientJoignableAcceptes" [showClear]="true" filterMatchMode="contains"
                                    id="16"
                                    optionLabel="libelle"
                                    placeholder="Template email report demande maneo client joignable accepte">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailReportDemandeManeoClientJoignableAccepte('templateEmailReportDemandeManeoClientJoignableAccepte')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="17">Template email report demande maneo client joignable refus</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailReportDemandeManeoClientJoignableRefusVo"
                                    [filter]="true"
                                    [options]="templateEmailReportDemandeManeoClientJoignableRefuss" [showClear]="true" filterMatchMode="contains"
                                    id="17"
                                    optionLabel="libelle"
                                    placeholder="Template email report demande maneo client joignable refus">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailReportDemandeManeoClientJoignableRefus('templateEmailReportDemandeManeoClientJoignableRefus')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="18">Template email report demande client client injoignable</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailReportDemandeClientClientInjoignableVo"
                                    [filter]="true"
                                    [options]="templateEmailReportDemandeClientClientInjoignables" [showClear]="true" filterMatchMode="contains"
                                    id="18"
                                    optionLabel="libelle"
                                    placeholder="Template email report demande client client injoignable">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailReportDemandeClientClientInjoignable('templateEmailReportDemandeClientClientInjoignable')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field p-col-11 p-md-2">
                        <label for="19">Template email report demande client client joignable</label>
                        <p-dropdown [(ngModel)]="selectedDefaultTemplateConfiguration.templateEmailReportDemandeClientClientJoignableVo"
                                    [filter]="true"
                                    [options]="templateEmailReportDemandeClientClientJoignables" [showClear]="true" filterMatchMode="contains"
                                    id="19"
                                    optionLabel="libelle"
                                    placeholder="Template email report demande client client joignable">
                        </p-dropdown>

                    </div>
                    <div class="p-col-1">
                        <label></label>
                        <button (click)="openCreateTemplateEmailReportDemandeClientClientJoignable('templateEmailReportDemandeClientClientJoignable')" class="p-button-success one-colonne-btn-success-align" icon="pi pi-plus"
                                pButton pRipple
                                type="button"></button>
                    </div>
                    <div class="p-field align-inputswitch p-col-12  p-md-3">
                        <div class="label-inputswitch">
                            <label for="20">Enabled</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedDefaultTemplateConfiguration.enabled" id="20"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideCreateDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
            <div>
                <button (click)="save()" icon="pi pi-check" label="Valider" pButton pRipple
                        style="margin:10px"></button>
            </div>
        </div>
    </ng-template>

    <app-template-email-ftl-create-admin></app-template-email-ftl-create-admin>
    <app-template-email-cloture-create-admin></app-template-email-cloture-create-admin>
    <app-template-suivi-create-admin></app-template-suivi-create-admin>
    <app-template-email-client-injoinable-create-admin></app-template-email-client-injoinable-create-admin>
    <app-template-email-report-create-admin></app-template-email-report-create-admin>
    <app-template-email-planification-create-admin></app-template-email-planification-create-admin>
    <app-template-email-replanification-create-admin></app-template-email-replanification-create-admin>
    <app-template-email-refus-create-admin></app-template-email-refus-create-admin>
    <app-template-email-client-injoinable-kosc-create-admin></app-template-email-client-injoinable-kosc-create-admin>
    <app-template-email-confirmation-client-create-admin></app-template-email-confirmation-client-create-admin>
    <app-template-email-mauvais-contact-create-admin></app-template-email-mauvais-contact-create-admin>
    <app-template-email-cri-create-admin></app-template-email-cri-create-admin>
    <app-template-email-report-demande-maneo-client-injoignable-create-admin></app-template-email-report-demande-maneo-client-injoignable-create-admin>
    <app-template-email-report-demande-maneo-client-joignable-refus-create-admin></app-template-email-report-demande-maneo-client-joignable-refus-create-admin>
    <app-template-email-report-demande-maneo-client-joignable-accepte-create-admin></app-template-email-report-demande-maneo-client-joignable-accepte-create-admin>
    <app-template-email-report-demande-client-client-injoignable-create-admin></app-template-email-report-demande-client-client-injoignable-create-admin>
    <app-template-email-report-demande-client-client-joignable-create-admin></app-template-email-report-demande-client-client-joignable-create-admin>



</p-dialog>
