
<p-dialog [(visible)]="viewTemplateEmailReportDemandeClientClientInjoignableDialog" [style]="{width: '70vw'}"
        header="" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle"  [(ngModel)]="selectedTemplateEmailReportDemandeClientClientInjoignable.libelle"
                                           id="1" [(ngModel)]="selectedTemplateEmailReportDemandeClientClientInjoignable.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Objet</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Objet"  [(ngModel)]="selectedTemplateEmailReportDemandeClientClientInjoignable.objet"
                                           id="2" [(ngModel)]="selectedTemplateEmailReportDemandeClientClientInjoignable.objet"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Corps</label>
                                    <textarea id="3" pInputTextarea rows="5" cols="30" [disabled]="true"
                                              placeholder="Corps"  [(ngModel)]="selectedTemplateEmailReportDemandeClientClientInjoignable.corps"
                                    ></textarea>
                                </div>

                </div>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



