<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>

<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">

                    <button (click)="this.findByCriteriaShow = !this.findByCriteriaShow"
                            class="p-button-success p-mr-2 p-mb-2"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            label="Chercher"
                            pButton
                            pRipple></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton [model]="excelPdfButons" icon="pi pi-download" label="Exporter"
                                       styleClass="p-button-help"></p-splitButton>
                    </div>

                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">

                      <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                        <input class="p-mr-2" pInputText id="3"
                                               type="text" [(ngModel)]="searchOrdreKosc.objectSearch">
                                        <label for="3">Object</label>
                                    </span >

<!--                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">-->
<!--                                <p-dropdown [(ngModel)]="searchOrdreKosc.etatDemandeKoscVo" [filter]="true"-->
<!--                                            [options]="etaDemandeKoscs"-->
<!--                                            [showClear]="true" id="22" optionLabel="libelle"-->
<!--                                            placeholder="Etat demande kosc">-->
<!--                                </p-dropdown>-->
<!--                            </span>-->

                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                             <p-calendar
                                     [(ngModel)]="searchOrdreKosc.dateEnvoiMinSearch" class="p-mr-2"
                                     dateFormat="dd-MM-yy"
                                     id="100-1"></p-calendar>
                             <label for="100-1">Date envoi Min</label>
                         </span>

                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                             <p-calendar
                                     [(ngModel)]="searchOrdreKosc.dateEnvoiMaxSearch" class="p-mr-2"
                                     dateFormat="dd-MM-yy"
                                     id="100-2"></p-calendar>
                             <label for="100-2">Date envoi Max</label>
                         </span>


                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [(ngModel)]="searchOrdreKosc.userEnvoiSearch" [filter]="true"
                                            [options]="users"
                                            [showClear]="true" id="22" optionLabel="username"
                                            placeholder="User envoi">
                                </p-dropdown>
                            </span>

                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                        <input class="p-mr-2" pInputText id="3"
                                               type="text" [(ngModel)]="searchOrdreKosc.fromSearch">
                                        <label for="3">De</label>
                                    </span>
                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                        <input class="p-mr-2" pInputText id="3"
                                               type="text" [(ngModel)]="searchOrdreKosc.toSearch">
                                        <label for="3">A</label>
                                    </span>

                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <p-dropdown id="13" [options]="yesOrNoEnvoi"
                                                [(ngModel)]="searchOrdreKosc.envoiSearch"
                                                [filter]="false" [showClear]="true" placeholder="Envoi"
                                                optionLabel="label" optionValue="value">
                                    </p-dropdown>
                                </span>

                </div>

                <div class="align-search-button">
                    <button (click)="searchRequestEmail()" class="p-button-info p-mr-2" icon="pi pi-sort-amount-down"
                            label="Valider"
                            pButton pRipple></button>
                </div>

            </p-toolbar>


            <p-table #dt [(selection)]="selectedOrdreKosc" [columns]="cols"
                     [globalFilterFields]="['object','userEnvoi','dateEnvoi','from','to']"
                     [paginator]="true"
                     [rowHover]="true"
                     [rowsPerPageOptions]="[8,25,50]"
                     [rows]="8" [showCurrentPageReport]="true" [value]="ordreKoscs"
                     currentPageReportTemplate="Les éléments de {first} à {last} sur {totalRecords} "
                     dataKey="id" styleClass="p-datatable-customers">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des ordre koscs</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input (input)="dt.filterGlobal($event.target.value, 'contains')" pInputText
                                   placeholder="Chercher..."
                                   type="text"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>


                        <th pSortableColumn="object">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Object</span>
                                <p-sortIcon field="object"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="ordreKosc.object"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="userEnvoi">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>User Envoi</span>
                                <p-sortIcon field="userEnvoi"></p-sortIcon>
                            </div>
                        </th>

                        <th pSortableColumn="envoi">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Envoi</span>
                                <p-sortIcon field="envoi"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="ordreKosc.envoi"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="dateEnvoi">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>Date Envoi</span>
                                <p-sortIcon field="dateEnvoi"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="ordreKosc.dateEnvoi"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>

                        <th pSortableColumn="from">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>De</span>
                                <p-sortIcon field="from"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="ordreKosc.from"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="to">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>A</span>
                                <p-sortIcon field="to"></p-sortIcon>
                                <p-columnFilter class="ml-auto" display="menu" field="ordreKosc.to"
                                                type="text"></p-columnFilter>
                            </div>
                        </th>
<!--                        <th pSortableColumn="etatDemandeKosc">-->
<!--                            <div class="p-d-flex p-jc-between p-ai-center">-->
<!--                                <span>Etat</span>-->
<!--                                <p-sortIcon field="etatDemandeKosc"></p-sortIcon>-->
<!--                            </div>-->
<!--                        </th>-->

                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template let-ordreKosc pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="ordreKosc"></p-tableCheckbox>
                        </td>


                        <td>{{ordreKosc.object}}</td>
                        <td>{{ordreKosc.userEnvoi?.username}}</td>
                        <!--                        <td><i *ngIf="ordreKosc.envoi" class="pi pi-check checked-toogle"></i>-->
                        <!--                            <i *ngIf="!ordreKosc.envoi" class="pi pi-times unchecked-toogle"></i>-->
                        <!--                        </td>-->

                        <td>{{ordreKosc.envoi}}</td>

                        <td>
                            {{ordreKosc.dateEnvoi | date :'dd/MM/yyyy HH:mm' }}
                        </td>

                        <td>{{ordreKosc.from}}</td>
                        <td>{{ordreKosc.to}}</td>

<!--                        <td>{{ordreKosc.etatDemandeKoscVo?.libelle}}</td>-->


                        <td>
                            <button (click)="editOrdreKosc(ordreKosc)" class="p-button-rounded p-button-success p-mr-2"
                                    icon="pi pi-pencil"
                                    pButton
                                    pRipple></button>
                            <button (click)="viewOrdreKosc(ordreKosc)" class="p-button-rounded p-button-info p-mr-2"
                                    icon="pi pi-list" pButton
                                    pRipple></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{ordreKoscs ? ordreKoscs.length == 1 ? 'y a' : 'y a' : 'y a' }} {{ordreKoscs ? ordreKoscs.length : 0 }} {{ordreKoscs ? ordreKoscs.length == 1 ? 'ordre kosc' : 'ordre koscs' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-emailing-edit-admin></app-emailing-edit-admin>
        <app-emailing-view-admin></app-emailing-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
