<p-dialog [(visible)]="editOrdreKoscDialog" [draggable]="false"
          [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="Planification" styleClass="p-fluid">


    <ng-template let-ordreKosc pTemplate="content">
        <p-tabView [(activeIndex)]="indexEdit">
            <p-tabPanel header="Prise rendez-vous">
                <div class="p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="1">Reference</label>
                        <input [(ngModel)]="selectedOrdreKosc.reference" class="p-mb-2 p-mr-2" id="1"
                               pInputText
                               placeholder="Reference" type="text"/>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="2">Reference work order</label>
                        <input [(ngModel)]="selectedOrdreKosc.referenceWorkOrder"
                               class="p-mb-2 p-mr-2" id="2"
                               pInputText placeholder="Reference work order"
                               type="text"/>
                        <small *ngIf='!validOrdreKoscReferenceWorkOrder' class='p-error'>ReferenceWorkOrder est
                            obligatoire.</small>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="26">Date premier appel</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.datePremierAppel" [showSeconds]="false"
                                    [showTime]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="26"
                                    placeholder="Date premier appel">
                        </p-calendar>

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="27">Date deuxieme appel</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateDeuxiemeAppel" [showSeconds]="false"
                                    [showTime]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="27"
                                    placeholder="Date deuxieme appel">
                        </p-calendar>

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="28">Date troisieme appel</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateTroisiemeAppel" [showSeconds]="false"
                                    [showTime]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="28"
                                    placeholder="Date troisieme appel">
                        </p-calendar>

                    </div>
                                        <div class="p-field p-col-12 p-md-3">
                                            <label for="50">Date dernier appel</label>
                                            <p-calendar [(ngModel)]="selectedOrdreKosc.dateDernierAppel" [showSeconds]="false"
                                                        [showTime]="true" [disabled]="true"
                                                        dateFormat="{{dateFormat}}"
                                                        id="50"
                                                        placeholder="Date dernier appel">
                                            </p-calendar>

                                        </div>


                    <div class="p-field p-col-11 p-md-3">
                        <label for="51">Etat demande kosc</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.etatDemandeKoscVo"
                                    [filter]="true"
                                    [options]="etatDemandeKoscs" [showClear]="true" filterMatchMode="contains"
                                    id="51"
                                    optionLabel="libelle"
                                    placeholder="Etat demande kosc">
                        </p-dropdown>
                    </div>



                    <div class="p-field p-col-12 p-md-6">
                        <label for="34">Commentaire client</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireClient" cols="30" id="34" pInputTextarea
                                  placeholder="Commentaire client"
                                  rows="10"
                        ></textarea>

                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="35">Commentaire technicien</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireTechnicien" cols="30" id="35"
                                  pInputTextarea
                                  placeholder="Commentaire technicien"
                                  rows="10"
                        ></textarea>

                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="End custumor">
                <div class="p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="6">Nom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorName" class="p-mb-2 p-mr-2" id="6"
                               pInputText
                               placeholder="nom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="7">Série</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorSiret" class="p-mb-2 p-mr-2" id="7"
                               pInputText
                               placeholder="Série" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="8">Prenom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorFirstName" class="p-mb-2 p-mr-2" id="8"
                               pInputText
                               placeholder="Prenom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="9">Nom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorLastName" class="p-mb-2 p-mr-2" id="9"
                               pInputText
                               placeholder="Nom" type="text"
                        />

                    </div>

                    <div class="p-field p-col-11 p-md-3">
                        <label for="10">Departement</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [filter]="true"
                                    [options]="departements" [showClear]="true" filterMatchMode="contains"
                                    id="10"
                                    optionLabel="libelle"
                                    placeholder="Departement">
                        </p-dropdown>

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="53">Adresse</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorStreetName" class="p-mb-2 p-mr-2" id="53"
                               pInputText
                               placeholder="Adresse" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="54">Numero de la rue</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorStreetNumber" class="p-mb-2 p-mr-2" id="54"
                               pInputText
                               placeholder="numero de la rue" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="55">Ville</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorCity" class="p-mb-2 p-mr-2" id="55"
                               pInputText
                               placeholder="Ville" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="56">Bâtiment</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorBuilding" class="p-mb-2 p-mr-2" id="56"
                               pInputText
                               placeholder="bâtiment" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="57">Escaliers</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorStairs" class="p-mb-2 p-mr-2" id="57"
                               pInputText
                               placeholder="Escaliers" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="58">Etage</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorFloor" class="p-mb-2 p-mr-2" id="58"
                               pInputText
                               placeholder="Etage" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="17">Contact prenom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactFirstName" class="p-mb-2 p-mr-2" id="17"
                               pInputText
                               placeholder="Contact prenom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="18">Contact nom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactLastName" class="p-mb-2 p-mr-2" id="18"
                               pInputText
                               placeholder="Contact nom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="19">Contact téléphone</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactPhone" class="p-mb-2 p-mr-2" id="19"
                               pInputText
                               placeholder="Contact téléphone" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="20">Contact téléphone portable</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactCellPhone" class="p-mb-2 p-mr-2" id="20"
                               pInputText
                               placeholder="Contact téléphone portable" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="21">contact e-mail</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactEmail" class="p-mb-2 p-mr-2" id="21"
                               pInputText
                               placeholder="Contact e-mail" type="text"
                        />

                    </div>


                </div>
            </p-tabPanel>

            <p-tabPanel header="Information">
                <div class="p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="25">Submission date</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.submissionDate" [disabled]="true"
                                    [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="25"
                                    placeholder="Submission date">
                        </p-calendar>

                    </div>



                    <div class="p-field p-col-12 p-md-3">
                        <label for="45">Date appel replanification</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateAppelReplanification" [showSeconds]="false"
                                    [showTime]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="45"
                                    placeholder="Date appel replanification">
                        </p-calendar>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="46">Type racordement</label>
                        <input [(ngModel)]="selectedOrdreKosc.typeRacordementPboPto" [disabled]="true"
                               class="p-mb-2 p-mr-2" id="46"
                               pInputText
                               placeholder="Type racordement" type="text"
                        />

                    </div>
                    <div class="p-field p-col-11 p-md-3">
                        <label for="47">Operator</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.operatorVo" [disabled]="true"
                                    [filter]="true" [options]="operators" [showClear]="true"
                                    filterMatchMode="contains" id="47"
                                    optionLabel="libelle"
                                    placeholder="Operator">
                        </p-dropdown>

                    </div>

                    <div class="p-field p-col-11 p-md-3">
                        <label for="98">Departement</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [disabled]="false"
                                    [filter]="true" [options]="departements" [showClear]="true"
                                    filterMatchMode="contains" id="98"
                                    optionLabel="libelle"
                                    placeholder="Departement">
                        </p-dropdown>
                    </div>

                    <div class="p-field p-col-11 p-md-3">
                        <label for="99">Technicien</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.technicienVo" [filter]="true"
                                    [options]="techniciens" [showClear]="true" filterMatchMode="contains"
                                    id="99"
                                    optionLabel="identifiant"
                                    placeholder="Technicien">
                        </p-dropdown>

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="201">Cause ko ok</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.causeKoOkVo" [filter]="true"
                                    [options]="causeKoOks" [showClear]="true" filterMatchMode="contains"
                                    id="201"
                                    optionLabel="libelle"
                                    placeholder="Cause ko ok">
                        </p-dropdown>

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="114">Date intervention technique debut</label>
                        <p-calendar id="114" [showTime]="true" [showSeconds]="false"
                                    placeholder="Date intervention technique debut"
                                    [(ngModel)]="selectedOrdreKosc.dateInterventionTechniqueDebut"
                                    dateFormat="{{dateFormat}}">
                        </p-calendar>

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="143">Commentaire Kosc</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.comment" cols="30" id="143" pInputTextarea
                                  placeholder="Commentaire Kosc (add it to yaml)"
                                  rows="5"
                        ></textarea>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="142">Commentaire client</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireClient" cols="30" id="142" pInputTextarea
                                  placeholder="Commentaire client"
                                  rows="5"
                        ></textarea>

                    </div>
                    <div class="p-field align-inputswitch p-col-12  p-md-3">
                        <div class="label-inputswitch">
                            <label for="59">Erdv</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedOrdreKosc.erdv" id="59"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>
                    <div class="p-field align-inputswitch p-col-12  p-md-3">
                        <div class="label-inputswitch">
                            <label for="60">Confort</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedOrdreKosc.confort" id="60"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Emailing">
                <p-blockUI [blocked]="blocked"></p-blockUI>


                <p-tabView [(activeIndex)]="emailIndex">

                    <p-tabPanel header="Confirmation client">

                        <div class="p-grid">

                            <div class="p-field p-col-12 p-md-6">
                                <label for="153">DE<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.fromConfirmationClient"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscFromConfirmationClient}"
                                       class="p-mb-2 p-mr-2"
                                       id="153"
                                       pInputText placeholder="De"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscFromConfirmationClient' class='p-error'>De est
                                    obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-6">
                                <label for="154">A<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.toConfirmationClient"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscToConfirmationClient}"
                                       class="p-mb-2 p-mr-2"
                                       id="154"
                                       pInputText placeholder="A"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscToConfirmationClient' class='p-error'>A est
                                    obligatoire.</small>
                            </div>
                            <div class="p-field p-col-12 p-md-6">
                                <label for="151">Objet<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.objetConfirmationClient"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscObjetConfirmationClient}"
                                       class="p-mb-2 p-mr-2"
                                       id="151"
                                       pInputText placeholder="Objet"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscObjetConfirmationClient' class='p-error'>Objet est
                                    obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-6">
                                <label for="152">Corps<span style="color: red;">*</span></label>
                                <textarea [(ngModel)]="selectedOrdreKosc.corpsConfirmationClient"
                                          [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscCorpsConfirmationClient}"
                                          cols="30" id="152"
                                          pInputTextarea
                                          placeholder="Corps"
                                          rows="5"></textarea>
                                <small *ngIf='!validOrdreKoscCorpsConfirmationClient' class='p-error'>Corps est
                                    obligatoire.</small>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <button (click)="sendConfirmationEmailToClient()" class="p-button-help"
                                        icon="pi pi-send" label="Envoyer" pButton
                                        type="button"></button>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <p-progressSpinner *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}"
                                                   styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                                   animationDuration=".5s"></p-progressSpinner>


                            </div>


                        </div>
                    </p-tabPanel>

                    <p-tabPanel header="Mail Planification">

                    <div class="p-grid">

                        <div class="p-field p-col-12 p-md-4">
                            <label for="30">Date rendez-vous<span style="color: red;">*</span></label>
                            <p-calendar dateFormat="{{dateFormat}}" [(ngModel)]="selectedOrdreKosc.dateRdv"
                                        [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscDateRendezVous}"
                                        [showSeconds]="false" [showTime]="true" [minDate]="minimumDate"
                                        id="30" [disabledDays]="[6,0]"
                                        placeholder="Date rdv">

                            </p-calendar><small *ngIf='!validOrdreKoscDateRendezVous' class='p-error'>Date rendez-vous
                            est obligatoire.</small>


                        </div>
                        <div class="p-field p-col-11 p-md-4">
                            <label for="32">Departement</label>
                            <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [filter]="true"
                                        [options]="departements" [showClear]="true" filterMatchMode="contains"
                                        id="32"
                                        optionLabel="libelle"
                                        placeholder="Departement">
                            </p-dropdown>

                        </div>


                        <div class="p-field p-col-11 p-md-4">
                            <label for="33">Technicien</label>
                            <p-dropdown [(ngModel)]="selectedOrdreKosc.technicienVo" [filter]="true"
                                        (onClick)="findAppropriateTechnicien(selectedOrdreKosc.dateRdv,selectedOrdreKosc.departementVo?.code)"
                                        [options]="appropriateTechniciens" [showClear]="true" filterMatchMode="contains"
                                        id="33"
                                        optionLabel="identifiant"
                                        placeholder="Technicien">
                            </p-dropdown>

                        </div>


                            <div class="p-field p-col-12 p-md-4">
                                <label for="123">DE<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.fromPlanification"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscFromPlanification}"
                                       class="p-mb-2 p-mr-2"
                                       id="123"
                                       pInputText placeholder="De"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscFromPlanification' class='p-error'>De est
                                                                    obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-4">
                                <label for="124">A<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.toPlanification"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscToPlanification}"
                                       class="p-mb-2 p-mr-2"
                                       id="124"
                                       pInputText placeholder="A"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscToPlanification' class='p-error'>A est
                                                                    obligatoire.</small>
                            </div>

                            <div class="p-field p-col-12 p-md-4">
                                <label for="127">Objet<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.objetPlanification" class="p-mb-2 p-mr-2" id="127"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscObjetPlanification}"
                                       pInputText
                                       placeholder="Objet" type="text"
                                /><small *ngIf='!validOrdreKoscObjetPlanification' class='p-error'>Objet est
                                obligatoire.</small>

                            </div>

                            <div class="p-field p-col-12 p-md-12">
                                <label for="128">Corps<span style="color: red;">*</span></label>
                                <textarea [(ngModel)]="selectedOrdreKosc.corpsPlanification" cols="30" id="128"
                                          [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscCorpsPlanification}"

                                          pInputTextarea
                                          placeholder="Corps"
                                          rows="10"
                                ></textarea><small *ngIf='!validOrdreKoscCorpsPlanification' class='p-error'>Corps est
                                obligatoire.</small>

                            </div>


                            <div class="p-field p-col-12 p-md-4 p-mt-4">
                                <button (click)="sendMailPlanificationEmail()" class="p-button-help" icon="pi pi-send"
                                        label="Envoyer" pButton
                                        type="button"></button>
                            </div>

                            <div class="p-field p-col-12 p-md-2">
                                <p-progressSpinner *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}"
                                                   styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                                   animationDuration=".5s"></p-progressSpinner>

                            </div>
                        </div>

                    </p-tabPanel>


                    <p-tabPanel header="Client injoinable">

                        <div class="p-grid">
                            <p-tabView>
                                <p-tabPanel header="Client">
                                    <div class="p-grid">
                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="176">DE<span style="color: red;">*</span></label>
                                            <input [(ngModel)]="selectedOrdreKosc.fromClientInjoinable"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscFromClientInjoinable}"
                                                   class="p-mb-2 p-mr-2"
                                                   id="176"
                                                   pInputText placeholder="De"
                                                   type="text"/>
                                            <small *ngIf='!validOrdreKoscFromClientInjoinable' class='p-error'>De est
                                                obligatoire.</small>
                                        </div>


                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="177">A<span style="color: red;">*</span></label>
                                            <input [(ngModel)]="selectedOrdreKosc.toClientInjoinable"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscToClientInjoinable}"
                                                   class="p-mb-2 p-mr-2"
                                                   id="177"
                                                   pInputText placeholder="A"
                                                   type="text"/>
                                            <small *ngIf='!validOrdreKoscToClientInjoinable' class='p-error'>A est
                                                obligatoire.</small>
                                        </div>


                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="117">Objet<span style="color: red;">*</span></label>
                                            <input [(ngModel)]="selectedOrdreKosc.objetClientInjoinable"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscObjetClientInjoinable}"

                                                   class="p-mb-2 p-mr-2" id="117"
                                                   pInputText
                                                   placeholder="Objet client" type="text"
                                            /><small *ngIf='!validOrdreKoscObjetClientInjoinable' class='p-error'>Objet est
                                            obligatoire.</small>

                                        </div>
                                        <div class="p-field p-col-12 p-md-12">
                                            <label for="118">Corps<span style="color: red;">*</span></label>
                                            <textarea [(ngModel)]="selectedOrdreKosc.corpsClientInjoinable" cols="30"
                                                      [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscCorpsClientInjoinable}"
                                                      id="118" pInputTextarea
                                                      placeholder="Corps client"
                                                      rows="10"
                                            ></textarea><small *ngIf='!validOrdreKoscCorpsClientInjoinable' class='p-error'>Corps est
                                            obligatoire.</small>

                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <button (click)="sendClientInjoignableEmailToClient()" class="p-button-help"
                                                    icon="pi pi-send"
                                                    label="Envoyer mail au client"
                                                    pButton
                                                    type="button"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <p-progressSpinner *ngIf="showSpinner"
                                                               [style]="{width: '50px', height: '50px'}"
                                                               styleClass="custom-spinner" strokeWidth="8"
                                                               fill="#EEEEEE"
                                                               animationDuration=".5s"></p-progressSpinner>


                                        </div>

                                    </div>
                                </p-tabPanel>

                                <p-tabPanel header="Kosc">
                                    <div class="p-grid">
                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="183">DE<span style="color: red;">*</span></label>
                                            <input [(ngModel)]="selectedOrdreKosc.fromClientInjoinableKosc"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscFromClientInjoinableKosc}"
                                                   class="p-mb-2 p-mr-2"
                                                   id="183"
                                                   pInputText placeholder="De"
                                                   type="text"/>
                                            <small *ngIf='!validOrdreKoscFromClientInjoinableKosc' class='p-error'>De
                                                est obligatoire.</small>
                                        </div>


                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="184">A<span style="color: red;">*</span></label>
                                            <input [(ngModel)]="selectedOrdreKosc.toClientInjoinableKosc"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscToClientInjoinableKosc}"
                                                   class="p-mb-2 p-mr-2"
                                                   id="184"
                                                   pInputText placeholder="A"
                                                   type="text"/>
                                            <small *ngIf='!validOrdreKoscToClientInjoinableKosc' class='p-error'>A est
                                                obligatoire.</small>
                                        </div>

                                        <div class="p-field p-col-12 p-md-4">
                                            <label for="181">Objet<span style="color: red;">*</span></label>
                                            <input [(ngModel)]="selectedOrdreKosc.objetClientInjoinableKosc"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscObjetClientInjoinableKosc}"
                                                   class="p-mb-2 p-mr-2"
                                                   id="181"
                                                   pInputText placeholder="Objet"
                                                   type="text"/>
                                            <small *ngIf='!validOrdreKoscObjetClientInjoinableKosc' class='p-error'>Objet
                                                est obligatoire.</small>
                                        </div>


                                        <div class="p-field p-col-12 p-md-12">
                                            <label for="182">Corps<span style="color: red;">*</span></label>
                                            <textarea [(ngModel)]="selectedOrdreKosc.corpsClientInjoinableKosc"
                                                      [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscCorpsClientInjoinableKosc}"
                                                      cols="30" id="182"
                                                      pInputTextarea
                                                      placeholder="Corps"
                                                      rows="10"></textarea>
                                            <small *ngIf='!validOrdreKoscCorpsClientInjoinableKosc' class='p-error'>Corps
                                                est obligatoire.</small>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <button (click)="sendClientInjoignableEmailToKosc()" class="p-button-help"
                                                    icon="pi pi-send"
                                                    label="Envoyer mail à Kosc"
                                                    pButton
                                                    type="button"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-4">
                                            <p-progressSpinner *ngIf="showSpinner"
                                                               [style]="{width: '50px', height: '50px'}"
                                                               styleClass="custom-spinner" strokeWidth="8"
                                                               fill="#EEEEEE"
                                                               animationDuration=".5s"></p-progressSpinner>


                                        </div>

                                    </div>
                                </p-tabPanel>
                            </p-tabView>
                        </div>

                    </p-tabPanel>


                    <p-tabPanel header="Mauvais contact">

                        <div class="p-grid">
                            <div class="p-field p-col-12 p-md-4">
                                <label for="146">DE<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.fromMauvaisContact"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscFromMauvaisContact}"
                                       class="p-mb-2 p-mr-2"
                                       id="146"
                                       pInputText placeholder="De"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscFromMauvaisContact' class='p-error'>De est
                                    obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-4">
                                <label for="147">A<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.toMauvaisContact"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscToMauvaisContact}"
                                       class="p-mb-2 p-mr-2"
                                       id="147"
                                       pInputText placeholder="A"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscToMauvaisContact' class='p-error'>A est
                                    obligatoire.</small>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="144">Objet<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.objetMauvaisContact"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscObjetMauvaisContact}"
                                       class="p-mb-2 p-mr-2"
                                       id="144"
                                       pInputText placeholder="Objet"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscObjetMauvaisContact' class='p-error'>Objet est
                                    obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-12">
                                <label for="145">Corps<span style="color: red;">*</span></label>
                                <textarea [(ngModel)]="selectedOrdreKosc.corpsMauvaisContact"
                                          [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscCorpsMauvaisContact}"
                                          cols="30" id="145"
                                          pInputTextarea
                                          placeholder="Corps"
                                          rows="10"></textarea>
                                <small *ngIf='!validOrdreKoscCorpsMauvaisContact' class='p-error'>Corps est
                                    obligatoire.</small>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <button (click)="sendMauvaisContactEmail()" class="p-button-help" icon="pi pi-send"
                                        label="Envoyer" pButton
                                        type="button"></button>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <p-progressSpinner *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}"
                                                   styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                                   animationDuration=".5s"></p-progressSpinner>
                            </div>
                        </div>


                    </p-tabPanel>
                    <p-tabPanel header="Refus client">

                        <div class="p-grid">
                            <div class="p-field p-col-12 p-md-4">
                                <label for="139">DE<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.fromRefus"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscFromRefus}"
                                       class="p-mb-2 p-mr-2"
                                       id="139"
                                       pInputText placeholder="DE"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscFromRefus' class='p-error'>De est
                                    obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-4">
                                <label for="140">A<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.toRefus"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscToRefus}"
                                       class="p-mb-2 p-mr-2"
                                       id="140"
                                       pInputText placeholder="A"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscToRefus' class='p-error'>A est obligatoire.</small>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="137">Objet<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.objetRefus"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscObjetRefus}"
                                       class="p-mb-2 p-mr-2"
                                       id="137"
                                       pInputText placeholder="Objet refus"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscObjetRefus' class='p-error'>Objet est obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-12">
                                <label for="138">Corps<span style="color: red;">*</span></label>
                                <textarea [(ngModel)]="selectedOrdreKosc.corpsRefus"
                                          [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscCorpsRefus}" cols="30"
                                          id="138"
                                          pInputTextarea placeholder="Corps"
                                          rows="10"></textarea>
                                <small *ngIf='!validOrdreKoscCorpsRefus' class='p-error'>Corps est obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-4">
                                <button (click)="sendRefusClientEmail()" class="p-button-help" icon="pi pi-send"
                                        label="Envoyer" pButton
                                        type="button"></button>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <p-progressSpinner *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}"
                                                   styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                                   animationDuration=".5s"></p-progressSpinner>


                            </div>
                        </div>


                    </p-tabPanel>

                    <p-tabPanel header="Autre">

                        <div class="p-grid">
                            <div class="p-field p-col-12 p-md-4">
                                <label for="139">DE<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.fromAutre"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscFromAutre}"
                                       class="p-mb-2 p-mr-2"
                                       id="139"
                                       pInputText placeholder="DE"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscFromAutre' class='p-error'>De est
                                    obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-4">
                                <label for="140">A<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.toAutre"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscToAutre}"
                                       class="p-mb-2 p-mr-2"
                                       id="140"
                                       pInputText placeholder="A"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscToAutre' class='p-error'>A est obligatoire.</small>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <label for="137">Objet<span style="color: red;">*</span></label>
                                <input [(ngModel)]="selectedOrdreKosc.objetAutre"
                                       [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscObjetAutre}"
                                       class="p-mb-2 p-mr-2"
                                       id="136"
                                       pInputText placeholder="Objet Autre"
                                       type="text"/>
                                <small *ngIf='!validOrdreKoscObjetAutre' class='p-error'>Objet est obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-12">
                                <label for="138">Corps<span style="color: red;">*</span></label>
                                <textarea [(ngModel)]="selectedOrdreKosc.corpsAutre"
                                          [ngClass]="{'ng-invalid ng-dirty' : !validOrdreKoscCorpsAutre}" cols="30"
                                          id="138"
                                          pInputTextarea placeholder="Corps"
                                          rows="10"></textarea>
                                <small *ngIf='!validOrdreKoscCorpsAutre' class='p-error'>Corps est obligatoire.</small>
                            </div>


                            <div class="p-field p-col-12 p-md-4">
                                <button (click)="sendAutreEmail()" class="p-button-help" icon="pi pi-send"
                                        label="Envoyer" pButton
                                        type="button"></button>
                            </div>
                            <div class="p-field p-col-12 p-md-4">
                                <p-progressSpinner *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}"
                                                   styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                                   animationDuration=".5s"></p-progressSpinner>


                            </div>
                        </div>


                    </p-tabPanel>

                </p-tabView>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideEditDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
            <div>
                <button (click)="edit()" icon="pi pi-check" label="Valider" pButton pRipple
                        style="margin:10px"></button>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="p-grid float">
            <div style="margin:5px 5px 0 5px">
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-outlined" (click)="hideEditDialog()"></button>
            </div>
            <div>
                <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:5px;"
                        (click)="edit()"></button>
            </div>
            <div style="margin:5px">
                <p-splitButton label="Confirmation" icon="pi pi-thumbs-up" styleClass="p-button-success"
                               [model]="palinificationModel"></p-splitButton>
            </div>

            <!--
                        <div style="margin:5px">
                            <button pButton pRipple label="Mail Replanification" icon="pi pi-undo" class="p-button-warning"
                                    (click)="goToMailReplanification()"></button>
                        </div>-->


        <!--    <div style="margin:5px">
                <p-splitButton label="Probleme client" icon="pi pi-users" styleClass="p-button-danger"
                               [model]="problemeClientModel"></p-splitButton>
            </div>-->

            <button (click)="showPriseRdvDialog()"
                    class=" btn-rex p-mr-2 p-ml-2 p-mb-2 p-mt-1"
                    icon="pi pi-phone"
                    pButton style=" height:35px; width: 100px"
                    pRipple></button>




        </div>
    </ng-template>

    <app-operator-create-admin></app-operator-create-admin>
    <app-departement-create-admin></app-departement-create-admin>
    <app-technicien-create-admin></app-technicien-create-admin>
    <app-template-email-client-injoinable-create-admin></app-template-email-client-injoinable-create-admin>
    <app-template-email-planification-create-admin></app-template-email-planification-create-admin>
    <app-template-email-replanification-create-admin></app-template-email-replanification-create-admin>
    <app-etat-demande-kosc-create-admin></app-etat-demande-kosc-create-admin>
    <app-template-email-cloture-create-admin></app-template-email-cloture-create-admin>
    <app-template-suivi-create-admin></app-template-suivi-create-admin>


</p-dialog>
<p-dialog [(visible)]="displayPriseRdv" [style]="{width: '40vw'}" [draggable]="false"
          [modal]="true">
    <ng-template pTemplate="header">
        <h5>Est-ce que le client a pris un rendez-vous ? </h5>
    </ng-template>

    <ng-template pTemplate="body">
        <p-tabView>
            <div class="p-grid">
                <div class="p-field p-col-12 p-md-4">
                    <label for="8">Prenom</label>
                    <input [(ngModel)]="selectedOrdreKosc.endCustumorFirstName"
                           class="p-mb-2 p-mr-2" id="8"
                           pInputText [disabled]="true"
                           placeholder="Prénom" type="text"
                    />

                </div>
                <div class="p-field p-col-12  p-md-4">
                    <label for="9">Nom</label>
                    <input [(ngModel)]="selectedOrdreKosc.endCustumorLastName" class="p-mb-2 p-mr-2"
                           id="9" [disabled]="true"
                           pInputText
                           placeholder="Nom" type="text"
                    />

                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="53">Adresse</label>
                    <input [(ngModel)]="selectedOrdreKosc.endCustumorStreetName"
                           class="p-mb-2 p-mr-2" id="53" [disabled]="true"
                           pInputText
                           placeholder="Adresse" type="text"
                    />

                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="54">numero de la rue</label>
                    <input [(ngModel)]="selectedOrdreKosc.endCustumorStreetNumber"
                           class="p-mb-2 p-mr-2" id="54" [disabled]="true"
                           pInputText
                           placeholder="Numero de la rue" type="text"
                    />

                </div>
                <div class="p-field p-col-12 p-md-4">
                    <label for="55">Ville</label>
                    <input [(ngModel)]="selectedOrdreKosc.endCustumorCity" class="p-mb-2 p-mr-2"
                           id="55" [disabled]="true"
                           pInputText
                           placeholder="Ville" type="text"
                    />

                </div>

                <div class="p-field p-col-12 p-md-4">
                    <label for="19">Téléphone</label>
                    <input [(ngModel)]="selectedOrdreKosc.endCustumorContactPhone"
                           class="p-mb-2 p-mr-2" id="19"
                           pInputText [disabled]="true"
                           placeholder="Téléphone" type="text"
                    />

                </div>
            </div>


            <div class="p-mt-3 p-grid float">
                <button class=" p-button-success p-mr-2 p-col-12 p-md-4" style="width: 32%; " pButton pRipple
                        label="Oui"
                        (click)="toggleShowOui()"></button>
                <button class=" p-button-danger p-mr-2 p-col-12 p-md-4" style="width: 33%; " pButton pRipple label="Non"
                        (click)="toggleShow()"></button>
                <button class=" p-button-warning p-col-12 p-md-4" style="width: 32%; " pButton pRipple
                        label="Pas encore !"
                        (click)="editPasEncore()"
                ></button>
            </div>
        </p-tabView>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-tabView [(activeIndex)]="indexEdit" class="p-mt-2">

            <div *ngIf="isShown" class="row container-fluid" id="divshow">
                <div class="p-grid p-ai-center p-mt-5">
                    <button class=" p-button-info p-mr-1 p-col-12 p-md-3" style="width: 24%; " pButton pRipple
                            label="Client injoignable" [disabled]="checkButtonInjoignable()"
                            (click)="selectTab(etats[6])"></button>

                    <button class=" p-button-warning p-mr-1 p-col-12 p-md-3" style="width: 24%; " pButton pRipple
                            label="Mauvais contact"
                            (click)="selectTab(etats[8])" [disabled]="checkButton()"></button>
                    <button class=" p-button-danger p-mr-1 p-col-12 p-md-3" style="width: 24%; " pButton pRipple
                            label="Refus client"
                            (click)="selectTab(etats[7])" [disabled]="checkButton()"></button>
                    <button class=" p-button-success p-col-12 p-md-3" style="width: 24%;" pButton pRipple
                            label="Autre raison.."
                            (click)="selectTab(etats[9])"></button>
                </div>
            </div>
            <div *ngIf="isShown1" class="p-mt-3 float" id="divshow1">


                <div class="p-field p-grid">
                    <div for="26" class="p-mt-2">Date rendez-vous</div>
                    <p-calendar [(ngModel)]="selectedOrdreKosc.dateRdv"
                                [showSeconds]="false"
                                [showTime]="true"
                                dateFormat="{{dateFormat}}"
                                id="26" class="p-col-12 p-md-5" style="width: 50%"
                                placeholder="Date Rendez-vous">
                    </p-calendar>
                </div>

                <div class="p-grid float p-mt-4">
                    <div>
                        <button (click)="hideEditDialog()" class="p-button-outlined"
                                icon="pi pi-times" label="Annuler"
                                pButton pRipple style="margin:10px"></button>
                    </div>
                    <div>
                        <button (click)="editOui('planification')" icon="pi pi-check"
                                label="Valider" pButton
                                pRipple
                                style="margin:10px"></button>
                    </div>
                </div>
            </div>
        </p-tabView>
    </ng-template>

</p-dialog>

