<p-dialog [(visible)]="viewOrdreKoscDialog" [modal]="true"
          [style]="{width: '70vw'}" header="CDD"
          styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView >
            <p-tabPanel header="Information">

                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-3">
                        <label for="1">Order</label>
                        <input [(ngModel)]="selectedOrdreKosc.reference" [disabled]="true" class="p-mb-2 p-mr-2"
                               id="1" pInputText 
                               placeholder="Reference Order" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="2">Work</label>
                        <input [(ngModel)]="selectedOrdreKosc.referenceWorkOrder" [disabled]="true"
                               class="p-mb-2 p-mr-2"
                               id="2" pInputText
                               placeholder="Reference work order"
                               type="text"/>
                    </div>

                    <div class="p-field p-col-11 p-md-2">
                        <label for="999">Technicien</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.technicienVo" [disabled]="true"
                                    [filter]="true" [options]="techniciens" [showClear]="true"
                                    filterMatchMode="contains"
                                    id="999"
                                    optionLabel="identifiant"
                                    placeholder="Technicien">
                        </p-dropdown>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="30">Date rdv</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateRdv" [disabled]="true" [showSeconds]="false"
                                    [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="30"
                                    placeholder="Date rdv">
                        </p-calendar>

                    </div>

                    <div class="p-field p-col-11 p-md-2">
                        <label for="98">Departement</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [disabled]="true"
                                    [filter]="true" [options]="departements" [showClear]="true"
                                    filterMatchMode="contains" id="98"
                                    optionLabel="libelle"
                                    placeholder="Departement">
                        </p-dropdown>

                    </div>


                    <div class="p-field p-col-11 p-md-2">
                        <label for="144">Etat demande kosc</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.etatDemandeKoscVo"
                                    [filter]="true" [disabled]="true"
                                    [options]="etatDemandeKoscs" [showClear]="true" filterMatchMode="contains"
                                    id="144"
                                    optionLabel="libelle"
                                    placeholder="Etat demande kosc">
                        </p-dropdown>

                    </div>

                    <div class="p-field p-col-11 p-md-2">
                        <label for="220">Operator</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.operatorVo" [disabled]="true"
                                    [filter]="true" [options]="operators" [showClear]="true"
                                    filterMatchMode="contains"
                                    id="220"
                                    optionLabel="libelle"
                                    placeholder="Operator">
                        </p-dropdown>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="102">Numero serie ont</label>
                        <input [(ngModel)]="selectedOrdreKosc.numeroSerieOnt" [disabled]="true" class="p-mb-2 p-mr-2"
                               id="102" pInputText
                               placeholder="Numero serie ont" type="text"
                        />

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="3">Code decharge</label>
                        <input [(ngModel)]="selectedOrdreKosc.codeDecharge" class="p-mb-2 p-mr-2" id="3"
                               pInputText [disabled]="true"
                               placeholder="Code decharge" type="text"
                        />

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="142">Commentaire client</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireClient" [disabled]="true" cols="30"
                                  id="142"
                                  pInputTextarea placeholder="Commentaire client"
                                  rows="5"
                        ></textarea>

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="200">Commentaire operateur</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireTechnicien" [disabled]="true" cols="30"
                                  id="200" pInputTextarea
                                  placeholder="Commentaire operateur (add it to yaml)"
                                  rows="5"
                        ></textarea>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="25">Submission date</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.submissionDate" [disabled]="true"
                                    [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="25"
                                    placeholder="Submission date">
                        </p-calendar>

                    </div>

                    <div class="p-field align-inputswitch p-col-12  p-md-3">
                        <div class="label-inputswitch">
                            <label for="49">Racordement long</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedOrdreKosc.racordementLong" [disabled]="true" id="49"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="390">Type pbo</label>
                        <input [(ngModel)]="selectedOrdreKosc.typePbo" [disabled]="true" class="p-mb-2 p-mr-2"
                               id="390" pInputText
                               placeholder="Type pbo" type="text"
                        />

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="101">Pbo reel</label>
                        <input [(ngModel)]="selectedOrdreKosc.pboReel" [disabled]="true" class="p-mb-2 p-mr-2"
                               id="101" pInputText
                               placeholder="Pbo reel" type="text"
                        />

                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="100">Date envoi cri</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateEnvoiCri" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="100" [disabled]="true"
                                    placeholder="Date envoi cri">
                        </p-calendar>

                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>


    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideViewDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
        </div>
    </ng-template>

    <app-operator-create-admin></app-operator-create-admin>
    <app-departement-create-admin></app-departement-create-admin>
    <app-technicien-create-admin></app-technicien-create-admin>
    <app-template-email-client-injoinable-create-admin></app-template-email-client-injoinable-create-admin>
    <app-template-email-planification-create-admin></app-template-email-planification-create-admin>
    <app-template-email-replanification-create-admin></app-template-email-replanification-create-admin>
    <app-etat-demande-kosc-create-admin></app-etat-demande-kosc-create-admin>
    <app-template-email-cloture-create-admin></app-template-email-cloture-create-admin>
    <app-template-suivi-create-admin></app-template-suivi-create-admin>


</p-dialog>



