<p-dialog [(visible)]="viewOrdreKoscDialog" [modal]="true"
          [style]="{width: '70vw'}" header="Planification"
          styleClass="p-fluid">

    <ng-template let-ordreKosc pTemplate="content">
        <p-tabView [(activeIndex)]="indexEdit">
            <p-tabPanel header="Prise rendez-vous">
                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-3">
                        <label for="26">Date premier appel</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.datePremierAppel" [showSeconds]="false"
                                    [showTime]="true" [disabled]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="26"
                                    placeholder="Date premier appel">
                        </p-calendar>

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="27">Date deuxieme appel</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateDeuxiemeAppel" [showSeconds]="false"
                                    [showTime]="true" [disabled]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="27"
                                    placeholder="Date deuxieme appel">
                        </p-calendar>

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="28">Date troisieme appel</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateTroisiemeAppel" [showSeconds]="false"
                                    [showTime]="true" [disabled]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="28"
                                    placeholder="Date troisieme appel">
                        </p-calendar>

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="29">Date prise rdv</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.datePriseRdv" [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="29" [disabled]="true"
                                    placeholder="Date prise rdv">
                        </p-calendar>

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="50">Date dernier appel</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateDernierAppel" [showSeconds]="false"
                                    [showTime]="true" [disabled]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="50"
                                    placeholder="Date dernier appel">
                        </p-calendar>

                    </div>
                    <div class="p-field p-col-11 p-md-3">
                        <label for="51">Etat demande kosc</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.etatDemandeKoscVo"
                                    [filter]="true"
                                    [options]="etatDemandeKoscs" [showClear]="true" filterMatchMode="contains"
                                    id="51" [disabled]="true"
                                    optionLabel="libelle"
                                    placeholder="Etat demande kosc">
                        </p-dropdown>
                    </div>

                    <div class="p-field p-col-11 p-md-3">
                        <label for="32">Departement</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [filter]="true"
                                    [options]="departements" [showClear]="true" filterMatchMode="contains"
                                    id="32" [disabled]="true"
                                    optionLabel="libelle"
                                    placeholder="Departement">
                        </p-dropdown>

                    </div>


                    <div class="p-field p-col-11 p-md-3">
                        <label for="33">Technicien</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.technicienVo" [filter]="true"
                                    (onClick)="findAppropriateTechnicien(selectedOrdreKosc.dateRdv,selectedOrdreKosc.departementVo?.code)"
                                    [options]="appropriateTechniciens" [showClear]="true" filterMatchMode="contains"
                                    id="33" [disabled]="true"
                                    optionLabel="identifiant"
                                    placeholder="Technicien">
                        </p-dropdown>

                    </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="34">Commentaire client</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireClient" cols="30" id="34" pInputTextarea
                                  placeholder="Commentaire client" [disabled]="true"
                                  rows="10"
                        ></textarea>

                    </div>

                    <div class="p-field p-col-12 p-md-6">
                        <label for="35">Commentaire technicien</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireTechnicien" cols="30" id="35"
                                  pInputTextarea [disabled]="true"
                                  placeholder="Commentaire technicien"
                                  rows="10"
                        ></textarea>

                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="End custumor">
                <div class="p-grid">
                    <div class="p-field p-col-12 p-md-3">
                        <label for="6">Nom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorName" class="p-mb-2 p-mr-2" id="6"
                               pInputText [disabled]="true"
                               placeholder="nom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="7">Série</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorSiret" class="p-mb-2 p-mr-2" id="7"
                               pInputText [disabled]="true"
                               placeholder="Série" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="8">Prenom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorFirstName" class="p-mb-2 p-mr-2" id="8"
                               pInputText [disabled]="true"
                               placeholder="Prenom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="9">Nom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorLastName" class="p-mb-2 p-mr-2" id="9"
                               pInputText [disabled]="true"
                               placeholder="Nom" type="text"
                        />

                    </div>

                    <div class="p-field p-col-11 p-md-3">
                        <label for="10">Departement</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [filter]="true"
                                    [options]="departements" [showClear]="true" filterMatchMode="contains"
                                    id="10" [disabled]="true"
                                    optionLabel="libelle"
                                    placeholder="Departement">
                        </p-dropdown>

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="53">Adresse</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorStreetName" class="p-mb-2 p-mr-2" id="53"
                               pInputText [disabled]="true"
                               placeholder="Adresse" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="54">Numero de la rue</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorStreetNumber" class="p-mb-2 p-mr-2" id="54"
                               pInputText [disabled]="true"
                               placeholder="numero de la rue" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="55">Ville</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorCity" class="p-mb-2 p-mr-2" id="55"
                               pInputText [disabled]="true"
                               placeholder="Ville" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="56">Bâtiment</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorBuilding" class="p-mb-2 p-mr-2" id="56"
                               pInputText [disabled]="true"
                               placeholder="bâtiment" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="57">Escaliers</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorStairs" class="p-mb-2 p-mr-2" id="57"
                               pInputText [disabled]="true"
                               placeholder="Escaliers" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="58">Etage</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorFloor" class="p-mb-2 p-mr-2" id="58"
                               pInputText [disabled]="true"
                               placeholder="Etage" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="17">Contact prenom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactFirstName" class="p-mb-2 p-mr-2" id="17"
                               pInputText [disabled]="true"
                               placeholder="Contact prenom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="18">Contact nom</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactLastName" class="p-mb-2 p-mr-2" id="18"
                               pInputText [disabled]="true"
                               placeholder="Contact nom" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="19">Contact téléphone</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactPhone" class="p-mb-2 p-mr-2" id="19"
                               pInputText [disabled]="true"
                               placeholder="Contact téléphone" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="20">Contact téléphone portable</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactCellPhone" class="p-mb-2 p-mr-2" id="20"
                               pInputText [disabled]="true"
                               placeholder="Contact téléphone portable" type="text"
                        />

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="21">contact e-mail</label>
                        <input [(ngModel)]="selectedOrdreKosc.endCustumorContactEmail" class="p-mb-2 p-mr-2" id="21"
                               pInputText [disabled]="true"
                               placeholder="Contact e-mail" type="text"
                        />

                    </div>


                </div>
            </p-tabPanel>

            <p-tabPanel header="Information">
                <div class="p-grid">

                    <div class="p-field p-col-12 p-md-3">
                        <label for="25">Submission date</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.submissionDate" [disabled]="true"
                                    [showSeconds]="false" [showTime]="true"
                                    dateFormat="{{dateFormat}}" id="25"
                                    placeholder="Submission date">
                        </p-calendar>

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="45">Date appel replanification</label>
                        <p-calendar [(ngModel)]="selectedOrdreKosc.dateAppelReplanification" [showSeconds]="false"
                                    [showTime]="true" [disabled]="true"
                                    dateFormat="{{dateFormat}}"
                                    id="45"
                                    placeholder="Date appel replanification">
                        </p-calendar>
                    </div>

                    <div class="p-field p-col-12 p-md-3">
                        <label for="46">Type racordement</label>
                        <input [(ngModel)]="selectedOrdreKosc.typeRacordementPboPto" [disabled]="true"
                               class="p-mb-2 p-mr-2" id="46"
                               pInputText
                               placeholder="Type racordement" type="text"
                        />

                    </div>
                    <div class="p-field p-col-11 p-md-3">
                        <label for="47">Operator</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.operatorVo" [disabled]="true"
                                    [filter]="true" [options]="operators" [showClear]="true"
                                    filterMatchMode="contains" id="47"
                                    optionLabel="libelle"
                                    placeholder="Operator">
                        </p-dropdown>

                    </div>

                    <div class="p-field p-col-11 p-md-3">
                        <label for="98">Departement</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.departementVo" [disabled]="false"
                                    [filter]="true" [options]="departements" [showClear]="true"
                                    filterMatchMode="contains" id="98"
                                    optionLabel="libelle"
                                    placeholder="Departement">
                        </p-dropdown>
                    </div>

                    <div class="p-field p-col-11 p-md-3">
                        <label for="99">Technicien</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.technicienVo" [filter]="true"
                                    [options]="techniciens" [showClear]="true" filterMatchMode="contains"
                                    id="99" [disabled]="true"
                                    optionLabel="identifiant"
                                    placeholder="Technicien">
                        </p-dropdown>

                    </div>


                    <div class="p-field p-col-12 p-md-3">
                        <label for="201">Cause ko ok</label>
                        <p-dropdown [(ngModel)]="selectedOrdreKosc.causeKoOkVo" [filter]="true"
                                    [options]="causeKoOks" [showClear]="true" filterMatchMode="contains"
                                    id="201" [disabled]="true"
                                    optionLabel="libelle"
                                    placeholder="Cause ko ok">
                        </p-dropdown>

                    </div>



                    <div class="p-field p-col-12 p-md-3">
                        <label for="114">Date intervention technique debut</label>
                        <p-calendar id="114" [showTime]="true" [showSeconds]="false"
                                    placeholder="Date intervention technique debut" [disabled]="true"
                                    [(ngModel)]="selectedOrdreKosc.dateInterventionTechniqueDebut"
                                    dateFormat="{{dateFormat}}">
                        </p-calendar>

                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="143">Commentaire Kosc</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.comment" cols="30" id="143" pInputTextarea
                                  placeholder="Commentaire Kosc (add it to yaml)" [disabled]="true"
                                  rows="5"
                        ></textarea>
                    </div>
                    <div class="p-field p-col-12 p-md-3">
                        <label for="142">Commentaire client</label>
                        <textarea [(ngModel)]="selectedOrdreKosc.commentaireClient" cols="30" id="142" pInputTextarea
                                  placeholder="Commentaire client" [disabled]="true"
                                  rows="5"
                        ></textarea>

                    </div>
                    <div class="p-field align-inputswitch p-col-12  p-md-3">
                        <div class="label-inputswitch">
                            <label for="59">Erdv</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedOrdreKosc.erdv" id="59"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>
                    <div class="p-field align-inputswitch p-col-12  p-md-3">
                        <div class="label-inputswitch">
                            <label for="60">Confort</label>
                        </div>
                        <div class="input-switch">
                            <p-inputSwitch [(ngModel)]="selectedOrdreKosc.confort" id="60"
                            >
                            </p-inputSwitch>

                        </div>
                    </div>
                </div>
            </p-tabPanel>


        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideViewDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
        </div>
    </ng-template>



</p-dialog>



