<p-dialog [(visible)]="editArretTravailDialog" [draggable]="false"
          [maximizable]="true" [modal]="true"
          [resizable]="false" [style]="{width: '70vw'}" header="Arret travail" styleClass="p-fluid">


    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Arret travail">
                <div class="p-grid">


                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="1">Technicien<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="techniciens" [(ngModel)]="selectedArretTravail.technicienVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="identifiant"
                                                    placeholder="Technicien" [ngClass]="{'ng-invalid ng-dirty' : !validArretTravailTechnicien}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validArretTravailTechnicien'>Technicien est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateTechnicien('technicien')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Date debut<span style="color: red;">*</span></label>
                                            <p-calendar id="2"   [showTime]="true" [showSeconds]="false"
                                                        placeholder="Date debut"  [(ngModel)]="selectedArretTravail.dateDebut"
                                                    dateFormat="{{dateFormat}}" [ngClass]="{'ng-invalid ng-dirty' : !validArretTravailDateDebut}"  >
                                            </p-calendar>
                                            <small class='p-error' *ngIf='!validArretTravailDateDebut'>DateDebut est obligatoire.</small>
                                        </div>


                    <div class="p-field p-col-12 p-md-6">
                        <label for="3">Date fin<span style="color: red;">*</span></label>
                        <p-calendar [(ngModel)]="selectedArretTravail.dateFin" [ngClass]="{'ng-invalid ng-dirty' : !validArretTravailDateFin}" [showSeconds]="false"
                                    [showTime]="true" dateFormat="{{dateFormat}}"
                                    id="3"
                                    placeholder="Date fin">
                        </p-calendar>
                        <small *ngIf='!validArretTravailDateFin' class='p-error'>DateFin est obligatoire.</small>
                    </div>

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="4">Raison arret travail<span style="color: red;">*</span></label>
                                            <p-dropdown [options]="raisonArretTravails" [(ngModel)]="selectedArretTravail.raisonArretTravailVo"
                                                    id="4" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Raison arret travail" [ngClass]="{'ng-invalid ng-dirty' : !validArretTravailRaisonArretTravail}"  >
                                            </p-dropdown>
                                            <small class='p-error' *ngIf='!validArretTravailRaisonArretTravail'>RaisonArretTravail est obligatoire.</small>
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateRaisonArretTravail('raisonArretTravail')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="5">Comment</label>
                                            <textarea id="5" pInputTextarea rows="5" cols="30"
                                                      placeholder="Comment"  [(ngModel)]="selectedArretTravail.comment"
                                                     ></textarea>
                                            
                                        </div>


                    </div>


            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer">
        <div class="p-grid">
            <div>
                <button (click)="hideEditDialog()" class="p-button-text" icon="pi pi-times" label="Annuler"
                        pButton pRipple></button>
            </div>
            <div>
                <button (click)="edit()" icon="pi pi-check" label="Valider" pButton pRipple
                        style="margin:10px"></button>
            </div>
        </div>
    </ng-template>

    <app-technicien-create-admin></app-technicien-create-admin>
    <app-raison-arret-travail-create-admin></app-raison-arret-travail-create-admin>


</p-dialog>
